:root {
  --color-background: 250, 250, 250;
  --color-background-dimmed: 128, 128, 128;
  --color-background-dark: 25, 23, 22; /* #191716 */
  --color-text: 25, 23, 22; /* #191716 */
  --color-text-light: 128, 128, 128;
  --color-text-white: 255, 255, 255;
  --color-border: 90, 90, 90;
  --color-border-light: 224, 226, 219;
  --color-white: 254, 254, 254;
  // --color-highlight: 181, 116, 42;
}

$c: #191716;

// :root.dark-theme {
// }
