:root {
  --color-background: 250, 250, 250; /* #fafafa */
  --color-background-dimmed: 128, 128, 128; /* #808080 */
  --color-background-dark: 25, 23, 22; /* #191716 */
  --color-text: 25, 23, 22; /* #191716 */
  --color-text-light: 128, 128, 128; /* #808080 */
  --color-text-white: 255, 255, 255; /* #ffffff */
  --color-border: 90, 90, 90; /* #5a5a5a */
  --color-border-light: 224, 226, 219; /* #e0e2db */
  --color-white: 254, 254, 254; /* #fefefe */

  // This one is variable
  --color-highlight: 229, 125, 35; /* #e57d23 */

  // This one is constant
  --color-orange: 229, 125, 35; /* #e57d23 */

  --color-error: 255, 72, 72;
  --color-success: 60, 218, 126;
  --color-info: 130, 132, 255;

  --shadow: 0 2px 8px rgba(var(--color-background-dark), 0.1);
}

:root.dark-normal {
  --color-background: 19, 19, 18; /* #131312 */
  --color-background-dimmed: 18, 18, 18; /* #111111 */
  --color-background-dark: 25, 23, 22; /* #fafafa */

  --color-text: 255, 255, 255; /* #ffffff */
  --color-text-light: 128, 128, 128; /* #808080 */
  --color-text-white: 19, 19, 18; /* #131312 */

  --color-border: 61, 58, 57; /* #3d3a39 */
  --color-border-light: 41, 39, 38; /* #292726 */
  --color-white: 19, 19, 18; /* #131312 */
}

$header: 60px;
