@import "./setup/";

@import "./generic/";

html {
  @include font(400);
  font-size: 63.5%;
  position: relative;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  min-height: 100vh;

  letter-spacing: 0.01em;

  * {
    outline: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;

    // &:hover {
    //   text-decoration: underline;
    // }
  }
}

@import "./app/";

@import "./overrides/";
