.hi-image-detail {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  // overflow-y: auto;

  @include flex($gap: 0, $wrap: nowrap, $align: flex-start);

  .content-wrap {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .comment-wrap {
    @include t(0.5s, cubic-bezier(0.65, 0, 0.35, 1));
    display: block;
    min-width: 0;
    height: calc(100vh);
    z-index: 25;

    $comments-width: 408px;

    &.active {
      min-width: $comments-width;

      .hi-comments {
        right: 0;
      }
    }

    .hi-comments {
      @include t(0.5s, cubic-bezier(0.65, 0, 0.35, 1));
      position: fixed;
      top: 0;
      right: -$comments-width;
      bottom: 0;
      width: $comments-width;
      overflow-y: auto;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */

      &:-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      border-left: 1px solid rgb(var(--color-border-light));
    }
  }

  .hi-image-container {
    display: block;
    // max-width: 1920px;
    margin: auto;
    position: relative;
    overflow: hidden;

    .blur-bg {
      top: -50px;
      left: -50px;
      right: -50px;

      img {
        height: 100%;
        filter: blur(125px);
        opacity: 0.16;
      }
    }
  }

  .divider {
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 64px;
    // border-bottom: 1px solid rgb(var(--color-border-light));
  }

  .centered,
  .loading-spinner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hi-album-detail-erorr {
    h3 {
      @include flex($align: center);
      font-size: 4.2rem;
      color: rgb(var(--color-text-light));
    }

    p {
      font-size: 2.4rem;
      color: rgb(var(--color-text-light));
      margin-bottom: 32px;
    }
  }

  .hi-image-wrapper {
    @include flex($align: center);
    padding: 0 64px;
    width: 100%;
    height: calc(100vh - 88px);
    position: relative;

    .image-loading {
      @include t(0.15s);
      @include flex($justify: center);
      width: 50%;
      height: 50%;
      margin: auto;
      // background-color: rgb(var(--color-white));
    }

    img {
      @include t(0.15s);
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }

  .hi-image-context {
    @include grid(40px, 1fr 2fr 1fr);
    width: 100%;
    padding: 32px;

    .context-col {
      @include flex($gap: 32px);

      &:nth-of-type(1) {
        a {
          @include font(700);
        }
      }

      &:nth-of-type(2) {
        @include flex($gap: 64px);
        justify-content: center;
      }

      &:last-of-type {
        justify-content: flex-end;
        gap: 24px;

        p {
          margin-right: 16px;
        }
      }
    }

    button,
    a,
    p {
      @include font(200);
      font-size: 1.4rem;
      margin: 0;
      margin-right: 40px;
      line-height: 24px;
      height: 24px;
      white-space: nowrap;
    }

    a {
      @include flex($gap: 8px);
      color: rgb(var(--color-text));
      // color: rgb(var(--color-highlight));
      margin: 0;

      .material-icons {
        font-size: 1.4rem;
      }
    }

    button {
      @include flex($gap: 8px);
      @include font(200);
      font-size: 1.4rem;
      margin: 0;
      color: rgb(var(--color-text));

      &:hover {
        img {
          opacity: 1;
        }
      }

      &.disabled {
        pointer-events: none;

        img {
          opacity: 0.3;
        }
      }

      img {
        display: block;
        object-position: center;
        object-fit: contain;
        opacity: 0.7;
        background-color: transparent;
      }
    }
  }

  .hi-image-meta {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    padding-bottom: 64px;

    .wrapper {
      @include grid(64px, 1fr 1.25fr);
      align-items: center;
    }

    h4 {
      @include flex($gap: 8px);
      margin-bottom: 40px;

      span {
        color: rgb(var(--color-text));
        font-size: 1.8rem;
      }
    }

    .hi-map-wrap {
      @include radius(6px);
      overflow: hidden;
      box-shadow: var(--shadow);
      height: 468px;
    }

    .hi-image-metadata-list {
      list-style: none;
      padding: 0;
      width: 100%;
      // padding-left: 32px;

      li {
        @include grid(24px, 32px 1fr 1fr);
        align-items: center;
        padding-left: 0;
        margin-bottom: 32px;
        word-wrap: break-word;
        word-break: break-all;
        // overflow: x;

        &:before {
          display: none;
        }

        span:not(.material-icons) {
          @include font(200);
          color: rgba(var(--color-text), 0.85);
        }

        .material-icons {
          font-size: 2rem;
          color: rgb(var(--color-text-light));
        }

        p {
          @include font(400);
        }

        span,
        p {
          font-size: 1.4rem;
          margin: 0;
        }
      }
    }
  }

  // .hi-image-meta-wrap {
  //   @include t(0.15s);
  //   width: 0;
  //   max-width: 0;
  //   overflow: hidden;
  //   display: block;
  //   height: 100vh;

  //   border-left: 1px solid rgb(var(--color-border-light));

  //   &.active {
  //     width: 420px;
  //     max-width: 420px;
  //     min-width: 420px;
  //   }

  //   .hi-image-meta {
  //     padding: 128px 40px;

  //     .map-wrap {
  //       display: block;
  //       height: 168px;
  //       width: 100%;
  //     }
  //   }
  // }
}
