@media only screen and (max-width: 1324px) {
  .route-login {
    .route-login-split {
      padding: 32px 64px;

      .block {
        font-size: 4.4vw;
      }
    }
  }

  .hi-album-detail .hi-album-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .hi-album-detail .detail-buttons {
    gap: 24px;
  }
}

@media only screen and (max-width: 1756px) {
  .hi-album-list .hi-album-list-layout .layout-item:last-of-type .album-list-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .hi-album-list .hi-album-list-layout .layout-item:last-of-type .album-list-wrap {
    // @include flex(wrap, 0, center);
    grid-template-columns: 1fr 1fr;
  }

  .hi-album-detail .hi-double {
    display: block;

    .hi-album-title {
      margin-bottom: 80px;

      .blur-bg {
        display: none;
      }
    }

    .detail-buttons {
      // position: relative;
      // top: unset;
      // background-color: transparent;
    }
  }
}
