@media only screen and (max-width: 1324px) {
  .route-login {
    .route-login-split {
      padding: 32px 64px;

      .block {
        font-size: 4.4vw;
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
  .hi-album-list .hi-album-list-layout .layout-item:last-of-type .album-list-wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1124px) {
  .hi-album-list .hi-album-list-layout .layout-item:last-of-type .album-list-wrap {
    @include flex(wrap, 0, center);
  }
}
