@media only screen and (max-width: 512px) {
  .route-login {
    @include flex($direction: column-reverse, $gap: 0);

    .route-login-split {
      padding: 0;
      width: 100%;
      padding: 32px;

      &.has-block {
        padding-top: 0;
      }

      img {
        width: 48px;
        height: 48px;
        margin-bottom: 32px;
        margin-top: 32px;
      }

      .block {
        width: 100%;
        padding: 32px;
        font-size: 3rem;
      }
    }
  }

  .copyright {
    margin: 32px 0;

    font-size: 1.2rem !important;
  }

  .hi-home {
    padding-bottom: 64px;
    .container {
      width: 100%;
      padding: 0 32px;
    }

    .home-landing {
      @include flex($gap: 0, $align: flex-start, $wrap: wrap, $justify: center, $direction: column);
      padding: 32px;
      height: 512px;
      margin-bottom: 0px;

      h1 {
        width: 100%;
        font-size: 16vw;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 4rem;
      }

      .album-thumbnail {
        display: none;
      }
    }

    .home-users {
      margin-bottom: 64px;

      h4 {
        margin-bottom: 32px;
      }

      .home-user {
        margin-bottom: 8px;
        padding: 16px;

        .user-image {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }

        h5 {
          font-size: 1.4rem;
        }

        button {
          display: none;
        }
      }
    }

    .copyright {
      margin: 0;
    }
  }

  .flag {
    max-width: 24px;
    max-height: 16px;
  }

  .hi-album-list {
    .hi-album-list-layout {
      display: block;

      .layout-item {
        padding: 32px;

        &:first-of-type {
          height: unset !important;
          position: relative;
          top: unset;
        }

        &:last-of-type {
          min-height: unset !important;
          padding-top: 0 !important;
        }

        .album-list-wrap {
          display: block;
        }
      }
    }
  }

  .album-list-item {
    margin-bottom: 40px;

    .album-timestamp {
      padding-top: 8px;
      margin-bottom: -12px;

      span {
        font-size: 1.1rem;
      }
    }

    // .draft-wrap {
    // }

    .album-image {
      height: 192px;
    }

    .album-meta {
      padding-top: 0px;

      h2 {
        font-size: 2.2rem;
        margin-top: 8px;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .album-list-item .album-meta .album-author .user-image {
    width: 24px;
    height: 24px;
  }

  .hi-album-list .hi-album-list-layout .layout-item .album-list-wrap .album-list-item {
    margin-bottom: 40px;
  }

  .hi-album-list .hi-album-list-layout .layout-item .album-list-wrap .album-list-item h2 {
    font-size: 2.2rem;
  }

  .hi-albums-user h1 {
    font-size: 2.2rem;

    a {
      display: block;
      font-size: 3rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font(700);
    display: block;
    margin-bottom: 20px;
  }

  h1 {
    @include font(900);
    font-size: 3.6rem;
  }

  h2 {
    @include font(900);
    font-size: 3rem;
  }

  h3 {
    @include font(900);
    font-size: 2.4rem;
  }

  h4 {
    @include font(900);
    font-size: 2.2rem;
  }

  h5 {
    @include font(900);
    font-size: 2rem;
  }

  h6 {
    @include font(900);
    font-size: 1.6rem;
  }

  strong,
  b,
  a,
  span,
  p {
    font-size: 1.2rem;
  }

  .hi-about {
    .container {
      // width: 100%;
      padding: 32px;
      padding-bottom: 0;

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.6rem;
      }

      .link-out {
        margin-bottom: 40px;

        img {
          max-width: 96px;
        }
      }

      .copyright {
        padding-top: 0;
        margin: 64px 0;
      }
    }
  }

  .hi-settings-page {
    padding: 32px;
  }
  .hi-user-settings-items {
    width: 100%;

    h1 {
      margin-bottom: 32px;
    }

    h5,
    h4 {
      margin-bottom: 32px;
    }

    h5 + p {
      margin-bottom: 32px !important;
    }

    .accent-color {
      gap: 16px;

      .example-block {
        &:not(.text.color),
        &:not(.text) {
          display: none !important;
        }

        input + label {
          min-width: 72px;
        }
      }
    }

    .form-select {
      width: 100%;
    }

    .settings-upload-image {
      display: block;

      .drop-section {
        margin-bottom: 16px;
      }

      .drop-section,
      .preview-section {
        display: block;
      }
    }
  }

  .hi-user-settings-items .user-settings-list li {
    padding-right: 0;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  .hi-user-profile .user-albums .user-albums-list .album-list-item .album-image {
    height: 192px;
  }

  .hi-user-profile .user-albums .user-albums-list .album-list-item .album-meta h2 {
    font-size: 2.2rem;
    margin-top: 8px;
  }

  .hi-user-profile {
    padding: 16px;

    .user-profile-upper {
      .hi-user-banner {
        height: 192px;

        .banner {
          // background-position: center !important;
          background-attachment: unset;
        }
      }

      .user-information-wrap {
        padding: 0;
        grid-template-columns: 1fr 80px;
        gap: 16px;
        padding-right: 16px;

        .avatar-wrap {
          position: relative;
          margin: 0;
          align-self: center;
          height: 80px;

          &:before {
            display: none;
          }

          .avatar {
            width: 80px;
            height: 80px;
          }
        }

        .user-information {
          padding: 8px 16px;
          width: 100%;
          background-color: rgba(var(--color-highlight), 0.75);

          h1 {
            font-size: 2.4rem;
            margin-bottom: 12px;
          }

          p {
            font-size: 1.2rem;
          }

          .user-info-meta {
            margin-bottom: 20px;

            a,
            span {
              font-size: 1.2rem;

              &:nth-child(2) {
                display: none;
              }

              &:nth-child(3) {
                margin-left: 8px;
              }

              b {
                font-size: inherit;
              }

              &:not(:first-child) {
                margin-right: 16px;
              }
            }
          }
        }
      }
    }

    .user-expand {
      padding: 0;
      // display: block;
      @include flex($direction: column-reverse);

      .user-albums {
        p {
          font-size: 1.4rem;

          b {
            font-size: inherit;
          }
        }

        .albums-title-wrap {
          display: block;
          margin-bottom: 24px;

          h2 {
            margin-bottom: 8px;
            font-size: 2rem;
          }

          .button {
            display: inline-block;
            width: auto;
          }
        }

        .user-albums-list {
          display: block;

          .album-list-item {
            width: 100%;
            margin-bottom: 40px;

            .album-timestamp {
              margin-bottom: 0;
            }
          }
        }
      }

      .user-met-with-wrap {
        padding: 0;
        margin-bottom: 24px;
        width: 100%;

        .user-met-with {
          max-width: unset;

          h4 {
            @include flex();
            span {
              font-size: 2.6rem;
              color: rgb(Var(--color-highlight));
            }
          }

          .album-tagged-user {
            .user-image {
              width: 32px;
              height: 32px;
            }

            span {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .hi-album-list h1 {
    margin-bottom: 16px;
  }

  .hi-album-detail {
    .hi-album-title {
      @include flex($gap: 0, $direction: column-reverse);
      height: unset;

      .hi-album-title-meta {
        padding: 0 16px;
        width: 100%;
        height: unset;

        .album-timestamp {
          margin-bottom: -8px;

          span {
            font-size: 1.1rem;
          }
        }

        h1 {
          font-size: 3rem;
          margin-bottom: 0;
        }

        p {
          font-size: 1.4rem;
        }

        .album-meta-cells {
          gap: 4px;
          margin-bottom: 32px;

          a,
          span,
          p {
            font-size: 1.1rem;
          }

          .mr-32 {
            margin-right: 12px;
          }

          p {
            &:nth-of-type(2) {
              display: none;
            }
          }
        }
      }

      .hi-album-title-thumbnail {
        @include flex($direction: column-reverse);
        width: 100%;
        height: unset;
        margin-bottom: 24px;

        .detail-buttons {
          position: relative;
          bottom: unset;
          left: unset;
          width: 100%;
          padding: 0 16px;

          gap: 24px;
          justify-content: flex-start;

          a,
          button {
            font-size: 1.2rem;

            .material-icons {
              font-size: 1.4rem !important;
            }
          }
        }

        .thumbnail-image-wrap {
          display: block;
          width: 100%;
          height: 156px;
          position: relative;
          top: unset;
          inset: unset;
          overflow: unset;

          .album-tagged-users {
            top: 216px;
            bottom: unset;

            &.active {
              display: block;
              position: absolute;
              bottom: unset;
              width: 80%;
              z-index: 1000000 !important;
            }
          }
        }
      }
    }

    .hi-album-images {
      // display: block;
      gap: 8px;
      padding: 0 8px 64px;

      .hi-album-image-col {
        gap: 8px;
        margin-bottom: 16px;

        .hi-album-image {
          margin-bottom: 0;
        }
      }
    }
  }

  .hi-album-map {
    // padding: 0 24px;
    .album-map-header {
      // right: 32px;
      // inset: 32px;
      top: 32px;
      left: 16px;
      right: 32px;
      // bottom: unset;

      p {
        font-size: 1.4rem;
        margin: 0;

        span,
        a {
          font-size: 1.4rem;
        }
      }
    }

    .album-map-layout {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 96px;

      .map-wrapper {
        height: auto;

        .active-image-data {
          top: 100%;
          width: 100%;
          right: 0;
          border: none;
          border-top: 1px solid rgb(var(--color-border-light));

          &.active {
            top: 20vh;
          }

          .active-image-header {
            // border-bottom: 1px solid rgb(var(--color-border));
          }

          img {
            max-height: 432px;
            object-fit: contain;
          }

          .hi-comments {
            // border-top: 1px solid rgb(var(--color-border));

            .hi-comments-list {
              min-height: 64px;

              .hi-no-comments {
                position: relative;
                inset: unset;
                transform: unset;

                strong {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .map-controls {
        flex-direction: row;
        gap: 16px;
        padding: 0 32px;
        justify-content: space-between;
        border: none;
        border-top: 1px solid rgb(var(--color-border-light));

        .hover-bubble {
          &:last-of-type {
            position: absolute;
            top: 16px;
            right: 16px;
          }
        }

        .padder,
        .flex-1 {
          display: none;
        }
      }
    }
  }

  .modal {
    .modal-wrap {
      left: 16px;
      right: 16px;
      transform: translateY(-50%);

      &.modal-alias,
      &.modal-copy {
        width: auto;
        padding: 16px;
        min-width: unset;
        max-width: unset;
      }
    }
  }

  .alias-picker {
    // width: 100%;
    top: 16px;
    right: 16px;
    // bottom: 16px;
    max-height: calc(100vh - 32px);
    transform: unset;

    .modal-content {
      .alias-search {
        top: 0px;
      }

      .alias-list {
        @include grid(8px, repeat(3, 1fr));

        .alias-item {
          background-color: rgb(var(--color-background-dimmed));
        }
      }
    }
  }

  .hi-image-detail {
    height: auto;

    .divider {
      margin-bottom: 32px;
    }

    .comment-wrap {
      position: fixed;
      // inset: 0;
      height: unset;
      min-width: auto;
      max-width: auto;
      width: auto;
      top: 0;
      bottom: 0;
      right: -100%;
      left: 100%;

      &.active {
        right: 0;
        left: 0;
      }

      .hi-comments {
        position: absolute;
        inset: 0 !important;
        width: auto;
      }
    }

    .hi-image-container {
      .hi-image-meta {
        padding: 0 32px;
        margin-bottom: 64px;
        max-width: 100%;

        h4 {
          font-size: 1.8rem;
          margin-bottom: 16px;

          span {
            display: none;
          }
        }

        .hi-map-wrap {
          margin-bottom: 32px;
          width: 100%;
          height: 256px;
        }

        .hi-image-metadata {
          display: block;

          .hi-image-properties {
            margin-bottom: 40px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(var(--color-border-light));
          }

          .hi-image-metadata-list li {
            gap: 16px;

            span,
            p {
              font-size: 1.2rem;

              &.material-icons {
                font-size: 1.6rem;
                // margin-right: 0;
                width: 24px;
              }
            }
          }
        }
      }

      .hi-image-wrapper {
        // height: auto;
        height: 75vh;
        padding: 8px;
      }

      .hi-image-context {
        padding: 32px 8px;
        gap: 0;
        grid-template-columns: 0 1fr 1fr;

        p {
          font-size: 1.2rem;
        }

        button {
          font-size: 1.2rem;

          .material-icons {
            font-size: 1.4rem;
          }
        }

        .context-col {
          gap: 16px;

          &:nth-of-type(1) {
            a {
              @include radius(50%);
              background-color: rgb(var(--color-white));
              color: rgb(var(--color-text));
              position: absolute;
              top: 32px;
              left: 32px;
              top: 16px;
              right: 16px;
              width: 40px;
              height: 40px;
            }
          }

          &:nth-of-type(2) {
            flex: 1;
            .hover-bubble:first-of-type {
              display: none;
            }
          }

          &:nth-of-type(3) {
            padding-right: 8px;

            button {
              width: 20px;
              text-align: center;

              .material-icons {
                font-size: 1.8rem;
              }
            }
          }
        }
      }
    }
  }

  [data-title-left],
  [data-title-right],
  [data-title-bottom],
  [data-title-bottom-left],
  [data-title-bottom-right],
  [data-title-top],
  [data-title-top-left],
  [data-title-top-right] {
    &:before {
      display: none;
    }
  }

  .hi-album-upload {
    .album-drafts {
      display: block;
      padding: 16px;

      .title {
        margin-bottom: 8px;

        h6 {
          font-size: 1.4rem;
        }

        p {
          font-size: 1rem;
        }
      }

      .draft {
        padding: 8px;
      }
    }

    .album-upload-layout {
      display: block;

      .album-upload-items {
        padding: 16px;
        gap: 16px;

        .album-upload-items-list {
          gap: 8px;
        }

        .album-upload-item {
          .album-upload-item-header {
            height: 48px;
            gap: 16px;
            padding: 0 12px;

            .hover-bubble.bubble-info {
              display: none;
            }

            button,
            .hover-bubble {
              .material-icons {
                font-size: 1.6rem;
              }
            }

            .file-size,
            strong {
              font-size: 1rem;
            }

            strong {
              max-width: 96px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .loading-bar {
              width: 16px;
              min-width: 16px;
            }
          }

          .album-upload-content {
            padding: 16px;

            .grid-view {
              @include flex($gap: 32px, $wrap: wrap, $direction: column-reverse);

              h6 {
                margin-bottom: 16px;
              }
            }
          }
        }
      }

      .album-upload-metadata {
        padding: 16px 32px;
        padding-bottom: 128px;

        h3 {
          font-size: 1.8rem;
          margin-bottom: 24px;
        }
      }
    }
  }

  .button {
    font-size: 1.2rem;
  }

  .form-input {
    textarea,
    input {
      font-size: 1.2rem;
    }
  }

  .form-search {
    padding: 0 12px;

    input {
      height: 48px;
      line-height: 48px;
    }
  }

  .hi-image-list {
    .hi-image-list-upload {
      margin-bottom: 32px;
    }

    .hi-album-images {
      padding: 0;
      grid-template-columns: repeat(3, 1fr);

      .hi-album-image-col {
        .hi-album-image {
          .image-wrap {
            img {
              // object-fit: contain;
              min-height: unset;
            }
          }

          .all-image-controls {
            display: none !important;
          }
        }
      }
    }
  }

  .hi-image-list-info {
    padding: 12px 0;
    grid-template-columns: 2fr 1fr;

    &.is-selecting {
      grid-template-columns: 1fr;

      & > div {
        gap: 0px;
        justify-content: space-between;

        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }

        button {
          .material-icons {
            // display: none;
            font-size: 1.6rem;
          }
        }
      }
    }

    & > div {
      height: auto;

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        justify-content: flex-start;
      }
    }
  }

  .modal .modal-wrap.modal-image > div .all-image-controls {
    bottom: unset;
    right: 0;
    left: 0;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .all-image-controls button {
    width: 44px;
    line-height: 44px;
    height: 44px;
    background-color: rgb(var(--color-background-dark));

    .material-icons {
      font-size: 2rem;
      transform: translateY(6px);
    }
  }
}
