.hi-image-list {
  display: block;
  padding: 32px;
  width: 100%;

  .hi-image-list-upload {
    margin-bottom: 16px;
    display: block;
    max-width: 724px;
    margin: 0 auto 64px;

    p {
      font-size: 1.6rem;
      line-height: 1.5em;
      margin-bottom: 32px;
    }

    input {
      display: none;

      & + label {
        @include t(0.1s);
        @include flex($gap: 12px);
        @include radius(12px);
        width: 100%;
        height: 56px;
        // margin: 0 auto;
        background-color: rgb(var(--color-white));
        line-height: 52px;
        padding: 0 32px;
        border: 2px solid rgb(var(--color-border-light));
        cursor: pointer;

        &:hover {
          border-color: rgb(var(--color-info));

          .material-icons {
            color: rgb(var(--color-info));
          }
        }

        span {
          @include t(0.1s);
          color: rgb(var(--color-text));
          font-size: 1.4rem;

          &.material-icons {
            @include t(0.1s);
            font-size: 2rem;
            color: rgb(var(--color-text-light));
          }
        }
      }
    }
  }

  .hi-album-images {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto;

    .hi-album-image-col {
      gap: 10px;

      .hi-album-image {
        @include radius(6px);
        overflow: hidden;
        position: relative;

        position: relative;
        cursor: pointer;

        &.is-selected {
          &:after {
            opacity: 1;
            border-width: 4px;
          }
        }

        &:after {
          @include t(0.1s, linear);
          @include radius(6px);
          pointer-events: none;
          border: 0px solid rgb(var(--color-highlight));
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          z-index: 10;
          opacity: 0;
        }

        &:hover {
          // box-shadow: var(--shadow2);
          img {
            transform: scale(1.025);
          }
        }

        img {
          @include t();
          min-height: 130px;
        }
      }
    }
  }
}

.hi-image-list-info {
  @include grid(32px, repeat(3, 1fr));
  width: 100%;
  max-width: 1920px;
  padding: 24px 64px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 16;
  background-color: rgba(var(--color-background), 0.75);
  backdrop-filter: blur(10px);

  & > div {
    @include flex(nowrap, 32px, $align: center);
    height: 20px;

    &:nth-of-type(2) {
      justify-content: center;
    }

    &:last-of-type {
      justify-content: flex-end;
      padding-right: 8px;
    }
  }

  span,
  p {
    margin: 0;
  }

  .material-icons {
    font-size: 1.8rem;
    transform: translateY(1px);
  }

  .hover-bubble {
    @include flex($gap: 8px);
    color: rgb(var(--color-text));
  }
}

.all-image-controls {
  @include flex($gap: 9px, $justify: flex-start, $direction: column);
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 10;

  button {
    @include radius(50%);
    width: 32px;
    height: 32px;
    background-color: rgba(var(--color-background-dark), 0.75);

    &:after {
      content: "";
      opacity: 1 !important;
      z-index: 1;
    }

    &:hover {
      background-color: rgba(var(--color-background-dark), 1);

      .material-icons {
        color: #fff;
        text-shadow: 0 1px 3px rgb(#191716, 0.4);
      }
    }

    .material-icons {
      color: #fff;
      text-shadow: 0 1px 3px rgb(#191716, 0.4);
      font-size: 1.8rem;
      transform: translateY(2px);
    }
  }
}

.all-image-checkbox {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 10;

  .form-checkbox input[type="checkbox"] + label {
    @include radius(50%);
    justify-content: center;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: rgba(var(--color-background-dark), 0.5);

    span.material-icons {
      color: #fff;
      font-size: 2.2rem;
      transform: translateY(1px);
    }
  }
}

.modal .modal-wrap {
  &.modal-image {
    transform: unset !important;
    inset: 32px;
    background-color: transparent;
    text-align: center;

    & > div {
      display: inline-block;
      width: auto;
      margin: 0 auto;
      position: relative;
      z-index: 10;
      height: calc(100vh - 64px);

      .all-image-controls {
        top: 16px;
        right: 16px;
      }

      img {
        display: block;
        height: 100%;
        max-width: 100%;
        // margin: 0 auto;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &.modal-select-album {
    padding: 32px;
    max-width: 628px;
    width: 100%;

    .btn-close {
      position: absolute;
      right: 24px;
      top: 24px;

      .material-icons {
        font-size: 1.6rem;
        color: rgb(var(--color-text));
      }
    }

    & > p {
      margin-bottom: 32px;
    }

    .select-album-item {
      @include radius(6px);
      @include t(0.1s);
      @include flex($align: flex-start, $gap: 24px);
      position: relative;
      color: rgb(var(--color-text));
      padding: 8px 12px;
      padding-left: 8px;
      margin: 0 -8px 4px;
      width: 100%;

      &:hover {
        background-color: rgba(var(--color-highlight), 0.1);
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;

        &:after {
          display: none;
        }
      }

      $image-width: 56px;

      .album-item-image {
        @include radius(4px);
        display: block;
        width: $image-width;
        height: $image-width;
        min-width: $image-width;
        position: relative;
        overflow: hidden;

        img {
          // display: block;
          width: $image-width;
          height: $image-width;
          // object-fit: cover !important;
          position: absolute;
          object-fit: cover;
          object-position: center;
          top: 0;
          left: 0;
        }
      }

      .album-item-meta {
        padding-top: 8px;
        // width: 100%;
        text-align: left;

        strong {
          @include t(0.1s);
          font-size: 2rem;
          margin-bottom: 4px;
          word-wrap: break-word;
          word-break: break-all;
        }

        p {
          @include t(0.1s);
          font-size: 1.2rem;
          margin: 0;
          font-style: italic;
          color: rgb(var(--color-text-light));
        }
      }
    }
  }
}
