.hi-user-page {
  display: block;
  width: 100%;
  max-width: 1920px;
  padding: 64px 128px;
}

.hi-user-profile {
  width: 100%;
  margin: 0 auto;
  // max-width: 1920px;
  padding: 32px;

  .user-profile-upper {
    background-color: rgb(var(--color-highlight));

    &.black * {
      color: #191716;
    }

    &.white {
      color: #fff;
    }

    .hi-user-banner {
      display: block;
      width: 100%;
      height: 456px;
      position: relative;

      .banner {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;

        background-position: center 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(var(--color-background), 0.1);

        &.image-error {
          opacity: 0.25;
        }
      }
    }

    .user-information-wrap {
      // display: block;
      @include grid(40px, 1fr 0.5fr);
      width: 100%;
      margin: 0 auto;
      max-width: 1480px;
      padding: 0 32px;
      margin-bottom: 32px;

      .user-information {
        padding: 32px 0;

        .user-info-meta {
          @include flex($gap: 4px 0, $align: flex-start, $wrap: wrap);

          width: 100%;
          margin-bottom: 40px;

          span {
            display: block;
            margin: 0;
            font-size: 1.6rem;
            white-space: nowrap;

            &:first-child {
              margin-right: 16px;
            }

            &:not(:first-child) {
              margin-right: 40px;
            }

            b {
              font-size: 1.6rem;
              display: inline;
            }
          }
        }

        h1 {
          font-size: 6.4rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 2rem;
          line-height: 1.8em;
          margin: 0;

          &.black {
            color: #191716 !important;
          }

          &.white {
            color: #fff !important;
          }
        }
      }

      .avatar-wrap {
        display: block;
        z-index: 10;
        margin-top: -50%;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          display: block;
          inset: -16px;
          bottom: 45%;
          z-index: 1;
          background-color: rgb(Var(--color-highlight));
        }

        .avatar {
          // @include radius(8px);
          display: block;
          width: 512px;
          height: 512px;
          object-fit: cover;
          position: relative;
          object-position: center;
          margin-bottom: 32px;
          z-index: 5;

          &.image-error {
            border-color: rgb(var(--color-background));
            background-color: rgba(var(--color-background), 0.25) !important;

            &:before {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 40px;
              height: 40px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("/user.svg");
            }
          }
        }
      }
    }
  }

  .user-albums {
    width: 100%;
    margin: 0 auto;
    max-width: 1480px;
    padding: 32px;
    padding-bottom: 256px;

    .albums-title-wrap {
      @include flex($justify: space-between);
      margin-bottom: 40px;

      h2 {
        color: rgb(var(--color-highlight));
        margin: 0;
      }
    }

    p {
      font-size: 2rem;

      b {
        font-size: 2rem;
        display: inline;
      }
    }

    .user-albums-list {
      display: grid;
      width: 100%;
      gap: 32px;
      grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));

      .album-list-item {
        margin-bottom: 0;

        .album-image {
          height: 356px;
        }

        .album-meta {
          h2 {
            font-size: 3.6rem;
          }
        }
      }
    }
  }
}
