.hi-user-page {
  display: block;
  width: 100%;
  max-width: 1920px;
  padding: 64px 128px;
}

.hi-user-profile {
  width: 100%;
  margin: 0 auto;
  // max-width: 1920px;
  padding: 16px;

  .user-profile-upper {
    @include radius(12px);
    overflow: hidden;
    // box-shadow: var(--shadow);
    margin-bottom: 32px;
    // background-color: rgb(var(--color-highlight));

    &.black * {
      color: #191716;
    }

    &.white * {
      color: #fff;
    }

    .hi-user-banner {
      display: block;
      width: 100%;
      height: 57vh;
      position: relative;
      overflow: hidden;

      .banner {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;

        background-position-y: calc(50% + 0px);
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(var(--color-border-light), 0.5);
      }
    }

    .user-information-wrap {
      width: 100%;
      position: relative;
      z-index: 10;

      .user-information-container {
        @include grid(40px, 1fr 0.5fr);
        margin: 0 auto;
        max-width: 1580px;
        padding: 0 32px 16px;
      }

      &:after {
        // @include radius(0 15% 0 0);
        @include rotate(-3deg);
        content: "";
        display: block;
        position: absolute;
        inset: -56px -32px -128px;
        z-index: -1;
        background-color: rgb(var(--color-highlight));
      }

      .user-information {
        padding: 32px 0;

        .user-info-meta {
          @include flex($gap: 4px 0, $align: center, $wrap: wrap);

          width: 100%;
          margin-bottom: 24px;

          a,
          span {
            display: block;
            margin: 0;
            font-size: 1.4rem;
            white-space: nowrap;

            &:nth-of-type(2) {
              margin-left: 12px;
            }

            &:nth-of-type(3) {
              margin-left: 48px;
            }

            b {
              font-size: 1.6rem;
              display: inline;
            }
          }

          a {
            @include radius(6px);
            @include t(0.1s);
            padding: 4px 8px;
            margin-left: 8px;

            &:hover {
              opacity: 1;
              &.black {
                background-color: rgba(#fff, 0.75);
              }

              &.white {
                background-color: rgba(#191716, 0.75);
              }
            }

            &.black {
              color: #191716 !important;
              background-color: rgba(#fff, 0.3);
            }

            &.white {
              color: #fff !important;
              background-color: rgba(#191716, 0.3);
            }
          }
        }

        h1 {
          font-size: 8.6rem;
          margin-bottom: 6px;
          text-shadow: 0 1px 3px rgba(var(--color-text), 0.25);
        }

        p {
          font-size: 1.8rem;
          line-height: 1.8em;
          margin: 0;
          // padding-left: 16px;

          &.black {
            color: #191716 !important;
          }

          &.white {
            color: #fff !important;
          }
        }
      }

      .avatar-wrap {
        display: block;
        z-index: 10;
        margin-top: -60%;
        position: relative;

        &:before {
          // content: "";
          position: absolute;
          display: block;
          inset: -16px;
          bottom: 20%;
          z-index: 1;
          background-color: rgb(Var(--color-highlight));
        }

        .avatar {
          @include radius(12px);
          display: block;
          width: 512px;
          height: 512px;
          object-fit: cover;
          position: relative;
          object-position: center;
          z-index: 5;
          margin-bottom: 16px;
          box-shadow: var(--shadow);

          &.image-error {
            background-color: rgb(var(--color-border-light));

            &:before {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 40px;
              height: 40px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("/user.svg");
            }
          }
        }
      }
    }
  }

  .user-expand {
    @include grid(64px, 1fr 1fr);
    width: 100%;
    margin: 0 auto;
    max-width: 1480px;
    padding: 32px;
    padding-bottom: 64px;

    .user-albums {
      h2 {
        @include flex($justify: space-between, $align: center);
        font-size: 2.6rem;

        color: rgb(var(--color-highlight));

        a {
          @include font(400);
          // text-decoration: underline;
          color: rgb(var(--color-text));
          font-size: 1.6rem;

          &:hover {
            text-decoration: none;
          }
        }
      }

      p {
        font-size: 1.8rem;

        b {
          font-size: 2rem;
          display: inline;
        }
      }

      .user-albums-list {
        .album-list-item {
          margin-bottom: 48px;
          max-width: unset;

          .album-image {
            height: 316px;
          }

          .album-meta {
            h2 {
              font-size: 3.6rem;
            }
          }
        }
      }
    }

    .user-met-with-wrap {
      padding: 0 64px;

      .user-met-with {
        max-width: 392px;
        width: 100%;
        margin: 0 auto;

        &.user-details {
          @include grid(32px, 1fr 1fr);
          @include radius(6px);
          margin-bottom: 40px;
          padding: 16px;
          // background-color: rgba(var(--color-background-dimmed), 0.1);
          border: 1px solid rgb(var(--color-border-light));
          // box-shadow: var(--shadow);

          span {
            display: block;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: rgb(var(--color-text-light));
            margin-bottom: 8px;
          }

          p {
            margin: 0;
            font-size: 1.4rem;
          }

          .nationality-wrap {
            @include flex(nowrap, 12px);
          }
        }

        h4 {
          @include flex();
          font-size: 2.6rem;

          span {
            font-size: 4rem;
            // transform: translateY(4px);
            color: rgb(Var(--color-highlight));
          }

          p {
            @include font(400);
            margin: 0;
            // flex: 1;
            text-align: right;
            font-size: 1.6rem;
            color: rgb(var(--color-text-light));
          }
        }

        .album-tagged-user {
          .user-image {
            width: 48px;
            height: 48px;
          }

          span {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
