.hi-user-page {
  display: block;
  width: 100%;
  max-width: 1920px;
  padding: 64px 128px;
}

.hi-user-profile {
  // @include grid(0, 1.5fr 1fr);
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;

  .user-profile-upper {
    background-color: rgb(var(--color-highlight));

    &.black * {
      // color: rgb(var(--colo));
      color: #191716;
    }

    &.white {
      color: #fff;
    }

    .hi-user-banner {
      display: block;
      width: 100%;
      height: 456px;
      position: relative;

      .banner {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
        // object-fit: cover;
        // object-position: center;

        // &:after {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   inset: 0;
        //   z-index: 5;
        //   background-color: rgba(var(--color-highlight), 0.1);
        // }

        background-position: center 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        &.image-error {
          opacity: 0.25;
          background-color: rgba(var(--color-background), 0.95);
        }
      }

      .avatar-wrap {
        display: block;
        top: 40%;
        position: absolute;
        right: 128px;
        // right: 10%;
        z-index: 10;

        .avatar {
          display: block;
          width: 556px;
          height: 556px;
          object-fit: cover;
          object-position: center;
          margin-bottom: 32px;
          border: 20px solid rgb(var(--color-highlight));

          &.image-error {
            border-color: rgb(var(--color-background));
            background-color: rgba(var(--color-background), 1);
          }
        }
      }
    }

    .user-information {
      padding: 64px 128px;
      width: 60%;

      .user-info-meta {
        @include flex($gap: 40px, $align: flex-start);
        width: 100%;
        margin-bottom: 64px;

        span {
          display: block;
          margin: 0;
          font-size: 1.6rem;

          b {
            font-size: 1.6rem;
            display: inline;
          }
        }
      }

      h1 {
        font-size: 6.4rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 2rem;
        line-height: 1.8em;
        margin: 0;
        // padding: 32px;
        // background-color: rgb(var(--color-highlight));

        &.black {
          color: #191716 !important;
        }

        &.white {
          color: #fff !important;
        }
      }
    }
  }

  .user-albums {
    padding: 64px 128px;
    width: 75%;
    margin: 0 auto;

    .albums-title-wrap {
      @include flex($justify: space-between);
      margin-bottom: 40px;

      h2 {
        color: rgb(var(--color-highlight));
        margin: 0;
      }
    }

    p {
      font-size: 2rem;

      b {
        font-size: 2rem;
        display: inline;
      }
    }

    .user-albums-list {
      @include grid(48px, 1fr 1fr);

      .album-list-item {
        margin-bottom: 0;

        .album-image {
          height: 356px;
        }

        .album-meta {
          h2 {
            font-size: 3.6rem;
          }
        }
      }
    }
  }
}
