.alias-picker {
  display: block;
  padding: 16px;
  position: absolute;
  right: 32px;
  bottom: 190px;
  width: 640px;
  height: 512px;
  overflow-y: auto;
  scrollbar-width: 4px;
  scrollbar-width: thin;
  background-color: rgb(var(--color-background-dark));
  z-index: 100;
  border: 1px solid rgb(var(--color-border-light));

  .modal-content {
    .alias-search {
      display: block;
      z-index: 10;
      align-items: center;
      margin-bottom: 16px;
      position: sticky;
      top: 0px;

      .form-search {
        padding: 0 16px;

        input {
          height: 48px;
          line-height: 48px;
        }
      }

      span {
        text-align: right;
      }
    }

    .alias-list {
      @include grid(8px, repeat(6, 1fr));
      min-height: 80px;
      position: relative;
      overflow: hidden;

      .alias-item {
        display: block;
        @include radius(8px);
        position: relative;
        padding-bottom: 12px;
        min-width: 0;

        background-color: rgba(var(--color-background-dimmed), 0.1);

        &:hover {
          background-color: rgba(var(--color-highlight), 0.25);

          .alias-name {
            color: rgb(var(--color-highlight));
          }
        }

        .alias-content {
          @include flex($align: center, $justify: center);
          height: 88px;
          position: relative;
          margin-bottom: 8px;
          min-width: 0;

          p,
          .alias-image {
            position: absolute;
            inset: 12px;
            bottom: 0;
            color: rgb(var(--color-text));
          }

          p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 0;
          }

          .alias-image {
            @include flex($align: center, $justify: center);
            @include radius(4px);
            overflow: hidden;

            img {
              display: block;
              object-position: center;
              object-fit: contain;
              max-width: 100%;
              max-height: 100%;
            }
          }
        }

        .alias-name {
          display: block;
          width: 100%;
          @include font(600);
          color: rgb(var(--color-text-light));
          font-size: 1.1rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
