.hi-home {
  // @include flex($direction: column);
  width: 100%;
  padding-bottom: 128px;

  .home-landing {
    display: block;
    height: calc(100vh - $header);
    padding: 64px 104px;
    position: relative;
    margin-bottom: 80px;

    h1 {
      pointer-events: none;
      z-index: 10;
      display: block;
      position: relative;
      font-style: italic;
      font-size: 13vw;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: rgb(var(--color-text));

      filter: drop-shadow(6px 6px 0px #fff);

      b {
        display: inline;
        font-size: inherit;

        -webkit-text-fill-color: rgb(var(--color-highlight));
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(var(--color-highlight));
      }
    }

    h3 {
      @include font(900);
      font-size: 8rem;
      position: relative;
      pointer-events: none;

      line-height: 1.2em;
      font-style: italic;
      z-index: 10;
      margin-bottom: 56px;

      i {
        text-decoration: underline;
        text-decoration-thickness: 8px;
        text-decoration-color: rgb(var(--color-highlight));
      }
    }

    .album-thumbnail {
      @include radius(12px);
      display: block;
      cursor: pointer;
      position: absolute;
      bottom: 32px;
      right: 0;
      width: 50%;
      top: 10%;
      overflow: hidden;
      z-index: 1;
      right: 32px;
      color: rgb(var(--color-text-white));
      box-shadow: var(--shadow);

      &:hover {
        img {
          transform: scale(1.025);
        }
      }

      span {
        @include radius(4px);
        height: 32px;
        line-height: 32px;
        display: block;
        position: absolute;
        bottom: 32px;
        right: 32px;
        z-index: 5;
        padding: 0 12px;
        background-color: rgba(var(--color-background-dark), 0.6);
        color: rgb(var(--color-text-white));
        font-size: 1.5rem;
      }

      img {
        @include t();
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        background-color: rgba(var(--color-background-dark), 0.05);
      }
    }

    .button {
      @include font(700);
      display: inline-block;
      font-size: 1.6rem;
    }
  }

  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    h4 {
      color: rgb(var(--color-highlight));
      margin-bottom: 24px;
      padding-left: 16px;
      font-size: 2.8rem;
    }
  }

  .home-users {
    display: block;
    margin-bottom: 128px;
    // @include grid(20px, 3);

    .home-user {
      @include t();
      @include radius(3px);
      @include flex($gap: 8px);
      padding: 12px 24px;
      margin-bottom: 12px;
      color: rgb(var(--color-text));
      border: 1px solid transparent;
      background-color: rgb(var(--color-white));
      box-shadow: var(--shadow);

      &:hover {
        border: 1px solid rgb(var(--color-border-light));
      }

      button {
        color: rgb(var(--color-text));
      }

      .user-image {
        @include radius(50%);
        display: block;
        width: 48px;
        height: 48px;
        object-fit: cover;
        object-position: center;
        position: relative;
        margin-right: 12px;
      }

      h5 {
        margin-bottom: 0;
        font-size: 2rem;
      }
    }
  }

  .container {
    &:has(.home-albums) {
      p {
        letter-spacing: 0.5em;
        color: rgb(var(--color-text));
        font-style: italic;
      }
    }
  }

  .home-albums {
    @include grid(40px, 2);
    margin-bottom: 128px;

    .home-album {
      img {
        // @include radius(12px);
        display: block;
        width: 100%;
        height: 212px;
        box-shadow: var(--shadow);
        object-fit: cover;
        object-position: center;
        margin-bottom: 16px;
      }

      h4 {
        color: rgb(var(--color-text));
      }
    }
  }
}

$flag-h: 24px;
$flag-w: 28px;

.flag {
  @include radius(2px);
  overflow: hidden;
  display: block;
  max-width: $flag-w;
  max-height: $flag-h;
  object-fit: contain;
  object-position: center;
  box-shadow: 0 0px 2px rgba(var(--color-background-dark), 0.2);

  svg {
    display: block;
    max-width: $flag-w;
    max-height: $flag-h;
  }
}

.copyright {
  @include flex($gap: 4px, $justify: center);
  margin: 0;
  color: rgb(var(--color-text-light));
  font-size: 1.5rem !important;

  .material-icons {
    color: rgb(var(--color-border));
  }

  a {
    font-size: inherit;
    color: rgb(var(--color-highlight));
  }
}
