.route-login {
  @include grid(0, 2);
  width: 100%;

  .route-login-split {
    @include flex($align: flex-start, $justify: center, $direction: column);
    height: 100%;
    padding: 64px 128px;

    &.has-block {
      border-right: 1px solid rgb(var(--color-border-light));
    }

    &.has-form {
      @include flex($direction: column, $justify: center);
    }

    .block {
      @include font(900);
      padding: 64px;
      width: 100%;
      height: 100%;
      background-color: rgb(var(--color-background-dark));
      color: rgb(var(--color-text-white));
      font-size: 6rem;
      // font-size: 3.4vw;
      line-height: 1.4em;
      text-align: left;
    }

    .form-wrap {
      width: 100%;
      margin: auto;
      // flex: 1;
    }

    .copy-text {
      display: block;
      width: 100%;
      text-align: left;
      color: rgb(var(--color-text-light));
    }
  }
}
