@import "./login";
@import "./home";
@import "./about";
@import "./alias";

@import "./user/user";
@import "./user/user-settings";
@import "./user/user-images";

@import "./image/image-detail";
@import "./image/comments";

@import "./album/album";
@import "./album/copy";
@import "./album/album-detail";
@import "./album/album-upload";
@import "./album/album-list";

.blur-bg {
  display: block;
  position: absolute;
  z-index: -1;
  top: -256px;
  left: -100px;
  right: -100px;

  img {
    @include t();
    display: block;
    // height: 100%;
    height: 125vh;
    width: 100%;

    object-fit: cover;
    object-position: top right;
    filter: blur(50px);
    opacity: 0.25;
  }
}
