.hi-album-detail {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
  min-height: calc(100vh - $header);

  .hi-album-title-meta {
    padding: 0 64px;

    .is-draft {
      @include flex($gap: 8px);
      font-size: 1.6rem;
      padding: 4px 12px;
      color: rgb(var(--color-orange));
    }

    h1 {
      font-size: 4.8rem;
      margin-bottom: 4px;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.4em;
      margin-bottom: 24px;
    }

    .album-meta-cells {
      @include flex($gap: 5px);

      p,
      a {
        @include font(300);
        display: block;
        color: rgb(var(--color-text));
        opacity: 0.8;
        font-size: 1.3rem;
        margin: 0;
      }

      a {
        &:hover {
          color: rgb(var(--color-highlight));
        }
      }

      .material-icons {
        color: rgb(var(--color-text-light));
        pointer-events: none;
        font-size: 1.6rem;
      }

      .mr-32 {
        margin-right: 24px;
      }
    }

    .album-timestamp {
      margin-bottom: 16px;

      span {
        font-size: 1.4rem;
        color: rgb(var(--color-text));
      }

      .timestamp-divider {
        border-color: rgb(var(--color-text-light));
      }
    }
  }

  .detail-buttons {
    @include flex($gap: 40px, $justify: flex-start);
    position: sticky;
    top: 0;
    margin: 0 -16px;
    padding: 0 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    z-index: 100;
    width: calc(100% + 32px);
    background-color: rgba(var(--color-background), 0.85);
    backdrop-filter: blur(7px);

    .divider {
      display: block;
      height: 20px;
      margin: 0 40px;
      border-right: 1px solid rgb(var(--color-text));
    }

    a,
    button {
      @include flex($gap: 10px);
      color: rgb(var(--color-text));
    }

    .material-icons {
      font-size: 2rem;
    }
  }

  .hi-album-title {
    width: 100%;
    position: sticky;
    top: 16px;

    .blur-bg {
      top: -25%;
      left: -25%;
      bottom: -25%;
      height: 100%;
      width: 100%;
    }

    .album-thumbnail {
      // max-height: 55vh;
      margin-bottom: 56px;

      .cover-image {
        @include radius(12px);
        box-shadow: var(--shadow);
        width: 100%;
        max-height: 55vh;
        // height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 5;
        cursor: pointer;
      }
    }
  }

  .hi-album-images {
    @include grid(12px, 4);
    padding: 0;
    min-height: unset;

    .hi-album-image {
      height: 292px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .tagged-users {
    .divider {
      display: block;
      height: 16px;
    }

    .wrapper {
      padding: 16px;
      border-radius: 6px;
      border: 1px solid rgb(var(--color-border));

      .user-list {
        @include grid(8px 16px, 3);

        .album-tagged-user {
          margin-bottom: 0;
          padding: 8px;
          border: none;

          .background {
            inset: 0;
          }
        }
      }
    }
  }
}

.hi-album-images {
  @include flex(wrap, 16px, center);
  width: auto;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 16px;
  min-height: 50vh;

  .hi-album-image {
    @include t();
    @include radius(6px);
    position: relative;
    overflow: hidden;
    display: inline-block;

    &:hover {
      box-shadow: var(--shadow2);

      img {
        transform: scale(1.025);
      }
    }

    .image-comment-count {
      @include flex($justify: center, $gap: 5px);
      background-color: rgba(#000000, 0.85);
      backdrop-filter: blur(7px);
      height: 28px;
      padding: 0 8px;
      text-align: center;
      line-height: 40px;

      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: 10;

      p {
        margin: 0;
        font-size: 1.4rem;
      }

      .material-icons {
        font-size: 1.4rem;
      }

      .material-icons,
      p {
        color: #fff;
        text-shadow: 0 1px 3px rgb(#191716, 0.4);
      }
    }

    img {
      @include t();
      height: 292px;
      // width: 292px;
      object-fit: cover;
      object-position: center;

      // width: 100%;
    }
    // }
  }
}

.album-tagged-user {
  @include t(0.16s);
  @include flex($gap: 16px);
  width: 100%;
  padding: 16px;
  position: relative;
  color: rgb(var(--color-text));
  border-bottom: 1px solid rgb(var(--color-border-light));

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &:hover {
    .background {
      opacity: 0.25;
    }
  }

  .user-image {
    @include radius(50%);
    display: block;
    object-fit: cover;
    object-position: center;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: rgb(var(--color-highlight));
  }

  .background {
    @include radius(6px);
    @include t(0.16s);
    display: block;
    position: absolute;
    inset: 8px 0;
    opacity: 0;
    z-index: -1;
    background-color: rgb(var(--color-background));
  }
}
