.hi-album-upload {
  display: block;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  // padding: 64px 128px;

  .album-drafts {
    @include grid(16px, 240px repeat(5, 1fr));
    width: 100%;
    border-bottom: 1px solid rgb(var(--color-border-light));
    padding: 16px 40px;
    z-index: 120;
    position: relative;

    .title {
      align-self: center;

      h6 {
        margin-bottom: 4px;
      }
    }

    p {
      margin: 0;
    }

    .draft {
      @include radius(8px);
      padding: 16px;
      display: block;
      position: relative;
      border: 1px solid rgb(var(--color-border-light));
      padding-right: 48px;
      // overflow: hidden;

      strong,
      p {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 192px;
      }

      strong {
        margin-bottom: 4px;
      }

      p {
        @include font(200);
      }

      .dropdown-button {
        position: absolute;
        right: 16px;
        top: 50%;
        color: rgb(var(--color-text-light));
        transform: translateY(-50%);
        font-size: 1.4rem;
        height: 24px;
        line-height: 24px;

        &.hover-bubble:after {
          top: -3px;
          bottom: -3px;
        }
      }

      .draft-dropdown {
        @include radius(4px);
        @include t(0.15s);
        display: block;
        padding: 20px;
        box-shadow: var(--shadow);
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        background-color: rgb(var(--color-white));
        width: 164px;

        transform: scale(0.9) translateY(-4px);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transform-origin: right top;

        &.active {
          z-index: 50;
          opacity: 1;
          visibility: visible;
          transform: scale(1) translateY(0);
        }

        a,
        button {
          @include flex($gap: 12px, $justify: flex-start);
          width: 100%;
          margin-bottom: 24px;
          color: rgb(var(--color-text));

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .album-upload-layout {
    @include grid(0, 1fr 512px);

    .album-upload-items {
      @include flex($gap: 64px, $direction: column);
      padding: 40px;
      position: relative;

      .album-drag-input {
        @include t(0.1s);
        display: block;
        width: 100%;
        height: 256px;
        z-index: 100;

        &.dragging {
          .material-icons {
            transform: translateY(-8px);
          }
        }

        &.empty {
          height: calc(100vh - $header - 80px);
        }

        &:hover,
        &.hovering {
          input + label {
            background-color: rgba(var(--color-info), 0.1);
            border-color: rgb(var(--color-info));
          }
        }

        .material-icons {
          @include t();
        }

        input {
          opacity: 0;
          height: 0;
          position: absolute;
          // visibility: ;

          & + label {
            @include flex($align: center, $justify: center, $direction: column, $gap: 8px);
            @include radius(32px);
            width: 100%;
            height: 100%;
            border: 3px dashed rgb(var(--color-border));
            cursor: pointer;

            span {
              color: rgb(var(--color-text));
              font-size: 1.2rem;

              &.material-icons {
                font-size: 3rem;
                margin-bottom: 8px;
              }
            }
          }
        }
      }

      .album-upload-items-list {
        @include flex($gap: 4px, $direction: column);
        // display: block;
        width: 100%;

        p {
          @include font(200);
          display: block;
          width: 100%;
          text-align: right;
          font-size: 1.4rem;
          margin-bottom: 24px;
          color: rgb(var(--color-text));
        }
      }

      .album-upload-item {
        @include t(0.1s);
        display: block;
        width: 100%;
        background-color: rgb(var(--color-white));
        border: 1px solid transparent;

        // &:after {
        //   content: "";
        //   display: block;
        //   height: 20px;
        //   width: 100%;
        //   background-color: transparent;
        // }

        &.open,
        &:hover {
          border-color: rgb(var(--color-border-light));
        }

        &.is-cover {
          .tag {
            display: block;
          }
        }

        &.is-dragging-over {
          border-color: rgb(var(--color-info));
        }

        &.has-error {
          .album-upload-item-header {
            p {
              color: rgb(var(--color-error));
            }
          }
        }

        .tag {
          display: none;
        }

        .album-upload-item-header {
          @include flex($gap: 32px, $align: center);
          padding: 0 16px;
          // padding-left: 16px;
          height: 56px;
          width: 100%;
          cursor: pointer;
          user-select: none;

          p,
          strong {
            margin-bottom: 0;
            font-size: 1.2rem;
          }

          button {
            color: rgb(var(--color-text-light));

            &:hover {
              color: rgb(var(--color-text));
            }
          }

          .file-size {
            font-size: 1.2rem;
            color: rgb(var(--color-text-light));
          }

          strong,
          .loading-bar,
          .flex-1 {
            pointer-events: none;
          }

          .loading-bar {
            max-width: 192px;
          }
        }

        .album-upload-content {
          padding: 24px;

          .grid-view {
            @include grid(40px, 2);

            & > div {
              min-width: 45%;
            }
          }

          img {
            max-height: 480px;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
          }

          strong,
          h6 {
            display: block;
            margin-bottom: 24px;
          }

          form {
            display: block;
            // max-width: 512px;

            .double-input {
              @include grid(32px, 2);
            }
          }
        }
      }
    }

    .album-upload-metadata {
      display: block;
      min-height: calc(100vh - $header);
      padding: 40px;
      // background-color: rgb(var(--color-white));
      border-left: 1px solid rgb(var(--color-border-light));

      h3 {
        margin-bottom: 40px;
      }

      .loading {
        color: rgb(var(--color-text-light));
        font-style: italic;
        padding: 16px 0;
      }

      .tagged-users {
        @include flex($gap: 8px);
        margin-bottom: 24px;
        margin-top: 16px;

        .tagged-user {
          display: block;

          img {
            @include radius(50%);
            display: block;
            object-fit: cover;
            object-position: center;
            width: 40px;
            height: 40px;
          }
        }
      }

      .form-checkbox {
        margin-bottom: 16px;
      }
    }
  }
}
