.album {
  @include radius(32px);
  display: block;
  background-color: rgba(var(--color-background-dimmed), 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;

  .album-image {
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &.album-large {
    .album-timestamp {
      gap: 24px;
      margin-bottom: 16px;

      .timestamp-divider {
        width: 128px;
      }
    }

    .album-title {
      padding: 64px;

      &:before {
        top: -160px;
      }

      h2 {
        font-size: 5.4rem;
        margin-bottom: 24px;
      }

      .album-desc {
        gap: 64px;

        span {
          font-size: 1.4rem;
        }
      }
    }
  }

  .album-title {
    display: block;
    position: absolute;
    z-index: 10;
    inset: 0;
    top: unset;
    padding: 24px;
    z-index: 5;

    &:after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      top: -80px;
      z-index: -1;
      background: rgb(25, 23, 22);
      background: linear-gradient(
        180deg,
        rgba(25, 23, 22, 0) 0%,
        rgba(25, 23, 22, 0.5) 45%,
        rgba(25, 23, 22, 0.85) 100%
      );
    }

    h2 {
      @include font(900);
      display: block;
      font-size: 2.2rem;
      line-height: 1.2em;
      margin-bottom: 8px;
      color: rgb(var(--color-text-white));
    }

    .album-desc {
      @include flex($align: center, $gap: 32px);

      span {
        font-size: 1rem;
        color: rgb(var(--color-text-white));
      }
    }
  }
}

.album-timestamp {
  @include flex($align: center, $gap: 16px);
  margin-bottom: 8px;
  z-index: 5;

  &.dark {
    span {
      color: rgb(var(--color-text));
    }

    .timestamp-divider {
      border-color: rgb(var(--color-border));
    }
  }

  span {
    @include font(200);
    color: rgb(var(--color-text-white));
  }

  .timestamp-divider {
    display: block;
    width: 32px;
    border-bottom: 1px solid rgb(var(--color-border-light));
  }
}
