.hi-albums-user {
  h1 {
    @include font(600);
    word-wrap: break-word;
    font-size: 1.6rem !important;
    // margin-bottom: 32px;
    color: rgb(var(--color-text-light));

    a {
      @include font(900);
      word-wrap: break-word;
      font-size: 2.2rem;
      display: block;
      color: inherit;
      color: rgb(var(--color-text));

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 6px;
        text-decoration-color: rgb(var(--color-highlight));
      }
    }
  }

  hr {
    margin: 40px 0;
  }
}

.album-subtitle {
  @include flex($gap: 32px, $justify: flex-end);
  width: 100%;

  p {
    margin: 0;
  }
}

.album-list-status {
  @include flex($gap: 0, $align: center, $justify: center);
  height: calc(100vh - 128px - $header);
  width: 100%;
  text-align: left;

  h3 {
    @include flex($align: center);
    font-size: 4.2rem;
    color: rgb(var(--color-text));
  }

  p {
    font-size: 2.4rem;
    color: rgb(var(--color-text-light));
    margin-bottom: 32px;
  }

  .material-icons {
    color: rgb(var(--color-text-light));
    font-size: 4rem;
  }

  .loading-spinner {
    display: block;
    margin: 0 auto 24px;
  }
}

.album-list-item {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 596px;
  position: relative;
  margin-bottom: 64px;

  &:hover {
    .album-image {
      img {
        transform: scale(1.03);
      }
    }
  }

  .draft-wrap {
    display: block;

    .hover-bubble {
      display: inline-block;
    }

    .album-draft {
      @include radius(4px);
      display: inline-block;
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      z-index: 10;
      margin-bottom: 0;
      background-color: rgba(var(--color-orange), 0.25);
      color: rgb(var(--color-orange));
    }
  }

  .album-image {
    @include radius(6px);
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    height: 316px;
    box-shadow: var(--shadow);

    img {
      @include t(0.2s);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform-origin: center center;

      background-color: rgba(var(--color-background-dark), 0.05);

      left: -5%;
      top: -5%;
      width: 110%;
      height: 110%;
    }
  }

  .album-meta {
    display: block;
    padding-top: 12px;
    padding-right: 32px;

    span,
    p,
    h2 {
      color: rgb(var(--color-text));
    }

    h2 {
      margin-bottom: 4px;
      margin-top: 12px;
      font-size: 1.8rem;
    }

    span {
      display: block;
      margin-bottom: 20px;
      font-size: 1.2rem;
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: rgba(Var(--color-text-light));
    }

    .album-author {
      @include flex($gap: 12px, $align: center);
      display: inline-flex;

      // &:not(:only-child) {
      //   margin-top: 16px;
      // }

      span {
        margin: 0;
      }

      .user-image {
        @include radius(50%);
        display: block;
        object-fit: cover;
        object-position: center;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.hi-album-list {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 24px;

  .go-up {
    @include t(0.3s, linear);
    @include radius(50%);
    width: 48px;
    height: 48px;
    color: rgb(var(--color-text));
    background-color: rgba(var(--color-highlight), 0.1);

    margin-right: -80px;
    opacity: 0;

    &.active {
      margin-right: 0;
      opacity: 1;
    }

    &:hover {
      background-color: rgba(var(--color-highlight), 0.3);
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: 2.6rem;
    line-height: 50px;

    &.has-loading {
      @include flex();
    }
  }

  .hi-album-list-layout {
    position: relative;

    .layout-item {
      display: block;
      position: relative;

      &:last-of-type {
        padding: 16px;
        min-height: calc(100vh - $header);
      }

      .album-list-wrap {
        // @include flex(wrap, 16px, center, flex-start);
        @include grid(32px 16px, 4);

        .album-list-item {
          display: block;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }

    .album-list-controls {
      @include grid(40px, 3);
      align-content: center;
      background-color: rgba(var(--color-white), 0.85);
      backdrop-filter: blur(7px);

      z-index: 100;
      position: sticky;
      top: 0;
      padding: 16px;

      .form-search {
        // width: 100%;
        max-width: 556px;
        background-color: rgb(var(--color-white));
      }
    }
  }
}
