.activity {
  @include t();
  // @include radius(10px);
  @include flex($direction: column, $align: flex-start);
  position: fixed;
  // top: calc($header + 16px);
  // bottom: 16px;
  top: $header;
  bottom: 0;
  right: 0;
  box-shadow: var(--shadow);
  background-color: rgb(var(--color-background));
  // border: 1px solid rgb(var(--color-border-light));
  border-left: 1px solid rgb(var(--color-border-light));

  opacity: 0;
  visibility: hidden;
  width: 156px;
  z-index: -1;
  pointer-events: none;
  padding: 24px;

  &.active {
    width: 592px;
    opacity: 1;
    visibility: visible;
    z-index: 500;
    pointer-events: all;
  }

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    color: rgb(var(--color-text));
  }

  .title-wrap {
    @include flex($gap: 24px, $align: flex-start);
    margin-bottom: 24px;

    button,
    h4 {
      margin-bottom: 0;
      color: rgb(var(--color-text));
    }
  }

  .activity-list-wrap {
    flex: 1;
    width: 100%;
    position: relative;

    .no-notifs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.2rem;

      b {
        display: inline;
        font-size: 2.6rem;
      }
    }

    .activity-item {
      padding: 8px;
      margin-bottom: 24px;
      cursor: pointer;
      z-index: 5;
      position: relative;

      &:hover {
        .background {
          opacity: 0.1;
        }

        .mark-read {
          opacity: 1;
          visibility: visible;
          opacity: 1;
          right: 0;
        }
      }

      .mark-read {
        @include t(0.16s);
        position: absolute;
        top: 0;
        bottom: 0;
        right: -16px;
        opacity: 0;
        visibility: hidden;
        width: 40px;
        text-align: center;

        .material-icons {
          color: rgb(var(--color-text-light));

          &:hover {
            color: rgb(var(--color-text));
          }
        }
      }

      .background {
        @include radius(6px);
        @include t(0.16s);
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        background-color: rgb(var(--color-background));
      }

      .title-wrap {
        @include flex($gap: 0, $align: center);
        margin-bottom: 4px;

        .user-image {
          @include radius(50%);
          display: block;
          object-fit: cover;
          object-position: center;
          position: relative;
          width: 32px;
          height: 32px;
          background-color: rgb(var(--color-highlight));
          margin-right: 24px;
        }

        p {
          // @include flex($align)
          vertical-align: middle;
          font-size: 1.4rem;
          margin-bottom: 0;

          a {
            font-size: inherit;
            @include font(900);
            margin: 0;
            margin-right: 4px;

            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
            }
          }

          span {
            @include font(400);
            font-size: inherit;
            color: rgb(var(--color-text-light));
          }
        }
      }

      .activity-footer,
      .activity-body {
        padding-left: 56px;
        pointer-events: none;

        p {
          margin: 0;
        }
      }

      .activity-body {
        margin-bottom: 16px;

        p {
          font-size: 1.6rem;
        }
      }

      .activity-footer {
        p {
          font-size: 1.2rem;
          color: rgb(var(--color-text-light));
        }
      }
    }
  }
}

.activity-alert {
  @include radius(50%);
  @include t(0.1s);
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  width: 8px;
  height: 8px;
  top: 5px;
  right: 2px;
  background-color: rgb(var(--color-error));

  &.has-activity {
    opacity: 1;
  }
}
