.activity {
  @include t();
  @include flex($direction: column, $align: flex-start);
  position: fixed;
  top: $header;
  bottom: 0;
  right: 0;
  box-shadow: var(--shadow);
  background-color: rgb(var(--color-background));
  border-left: 1px solid rgb(var(--color-border-light));

  opacity: 0;
  visibility: hidden;
  width: 156px;
  z-index: -1;
  pointer-events: none;
  padding: 24px;

  &.active {
    width: 592px;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    pointer-events: all;
  }

  &.activity-home {
    @include radius(6px);
    // Sub-class for showing some activity items in the homepage
    position: relative;
    inset: unset;
    width: 100%;
    // border: 1px solid rgb(var(--color-border-light));
    border: none;
    margin-bottom: 64px;

    .title-wrap,
    .close {
      display: none;
    }

    .activity-list-wrap {
      max-height: 512px;
    }
  }

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    color: rgb(var(--color-text));
  }

  .title-wrap {
    @include flex($gap: 24px, $align: flex-start);
    // margin-bottom: 24px;
    width: 100%;

    button,
    h5 {
      margin-bottom: 0;
      letter-spacing: 0.05em;
      color: rgb(var(--color-text));
    }
  }

  .activity-list-wrap {
    flex: 1;
    width: 100%;
    position: relative;
    overflow-y: auto;

    ::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .no-notifs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.2rem;

      b {
        display: inline;
        font-size: 2.6rem;
      }
    }

    .activity-group {
      // display: block;
      margin-bottom: 32px;
      position: relative;

      .activity-group-title {
        @include flex($gap: 24px, $align: center);
        margin-bottom: 12px;
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 6px 0 8px;
        background-color: rgb(var(--color-background));

        strong {
          @include font(400);
          font-size: 1.4rem;
          color: rgb(var(--color-text-light));
        }

        .line {
          flex: 1;
          border-bottom: 1px solid rgb(var(--color-border-light));
        }

        span {
          @include font(200);
          font-size: 1.2rem;
          color: rgb(var(--color-text-lighter));
        }
      }
    }

    .activity-item {
      display: block;
      padding: 8px;
      z-index: 5;
      position: relative;
      cursor: pointer;
      margin-bottom: 12px;
      padding-left: 8px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        .background {
          transform: scale(1);
          opacity: 0.1;
        }
      }

      &.activity-album {
        .activity-body {
          @include flex($gap: 12px, $align: flex-start);
          @include radius(12px);
          margin-top: 16px;
          width: 100%;
          padding: 16px;
          box-shadow: var(--shadow2);

          img {
            @include radius(6px);
            width: 72px;
            max-height: 96px;
          }

          .title {
            strong {
              font-size: 1.8rem;
              margin-bottom: 8px;
              color: rgb(var(--color-text));
            }

            p {
              font-size: 1.4rem;
              color: rgb(var(--color-text-light));
              margin: 0;
            }

            .info {
              padding-top: 4px;
              @include flex($gap: 8px);
              font-size: 1.4rem;
            }
          }
        }
      }

      &.activity-user {
        padding: 16px;

        strong {
          @include font(900);
          font-style: italic;
          font-size: 2.2rem;
        }

        .user {
          @include radius(12px);
          @include flex($gap: 32px);
          margin-top: 16px;
          width: 100%;
          padding: 16px;
          box-shadow: var(--shadow2);

          .user-image {
            position: relative;
            inset: unset;

            width: 80px;
            height: 80px;
          }

          .info {
            display: block;
          }

          p {
            margin: 0;
          }

          .nationality-wrap {
            @include flex(nowrap, 12px, $align: center);
          }

          span {
            display: block;
            @include font(700);
            font-size: 1.8rem;
            margin-bottom: 8px;
          }
        }
      }

      &.activity-image {
        cursor: default;

        .photo-list {
          @include flex($gap: 4px, $wrap: wrap);
          margin-top: 4px;
          // display: grid;
          // grid-template-columns: repeat(7, 1fr);

          img {
            @include t(0.1s);
            @include radius(3px);
            display: block;
            max-width: 64px;
            height: 64px;
            object-fit: cover;
            object-position: center;

            &.can-click {
              cursor: pointer;
            }
          }

          .img-additional {
            font-size: 1.4rem;
            padding-left: 8px;
          }
        }
      }

      .background {
        @include radius(6px);
        @include t(0.16s);
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transform: scale(0.95);
        background-color: rgb(var(--color-background));
      }

      .user-image {
        @include radius(50%);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        width: 24px;
        height: 24px;
        pointer-events: none;
        background-color: rgb(var(--color-highlight));
      }

      .activity-title {
        display: block;
        width: 100%;
        margin-bottom: 6px;
        line-height: 1.6em;
        padding-left: 36px;
        position: relative;

        p {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0;
          word-wrap: break-word;
          color: rgb(var(--color-text-light));

          a {
            display: inline;
            font-size: inherit;
            @include font(700);
            margin: 0;
            color: rgb(var(--color-info));

            &:first-child {
              font-size: 1.4rem;
            }

            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      .activity-footer,
      .activity-body {
        padding-left: 36px;
        pointer-events: none !important;

        .comment-body {
          margin-bottom: 4px;

          img {
            max-height: 192px;
          }
        }
      }

      .activity-footer {
        p {
          font-size: 1rem;
          color: rgb(var(--color-text-light));
        }
      }
    }
  }
}

.activity-alert {
  @include radius(50%);
  @include t(0.1s);
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  width: 8px;
  height: 8px;
  top: 5px;
  right: 2px;
  background-color: rgb(var(--color-error));

  &.has-activity {
    opacity: 1;
  }
}
