.fade-enter-active,
.fade-leave-active {
  transition: 0.15s all ease-in-out;
  opacity: 1;
}

.fade-enter-from {
  opacity: 0;
  transform: translateX(-8px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(8px);
}

// .pagetransition-enter-active,
// .pagetransition-leave-active {
//   transition: 0.15s all ease-in-out;
// }

// .pagetransition-enter-to,
// .pagetransition-leave-from {
//   opacity: 1;
// }

// .pagetransition-enter-from {
//   opacity: 0;
//   transform: translateY(8px);
// }

// .pagetransition-leave-to {
//   opacity: 0;
//   transform: translateY(-8px);
// }
