.button {
  // display: inline-block;
  display: block;
  position: relative;
  text-align: left;
  background-color: rgb(var(--color-background-dark));
  color: rgb(var(--color-text-white));
  font-size: 1.4rem;
  // border: 1px solid rgb(var(--color-border));
  text-transform: uppercase;
  letter-spacing: 0.2em;

  &:hover {
    background-color: rgba(var(--color-background-dark), 0.8);
  }

  &:hover {
    &:after {
      width: 50%;
    }
  }

  &.btn-login {
    &:after {
      @include t(0.4s, cubic-bezier(0.83, 0, 0.17, 1));
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 65px;
      right: 32px;
      border-bottom: 1px solid rgb(var(--color-text-white));
    }
  }

  &.btn-disabled {
    pointer-events: none;
    background-color: rgba(var(--color-background-dark), 0.8);
  }
}
