.button {
  // display: inline-block;
  display: block;
  position: relative;
  text-align: left;
  color: rgb(var(--color-text-white));
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none !important;

  &:hover {
    &:after {
      width: 50%;
    }

    &.btn-red {
      background-color: rgb(var(--color-error), 1);
    }

    &.btn-black {
      background-color: rgba(var(--color-background-dark), 0.9);
    }
  }

  &.btn-icon {
    @include flex($justify: space-between);
  }

  &.btn-black {
    background-color: rgb(var(--color-background-dark));
  }

  &.btn-highlight {
    background-color: rgb(var(--color-highlight));
  }

  &.btn-login {
    &:after {
      @include t(0.4s, cubic-bezier(0.83, 0, 0.17, 1));
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 65px;
      right: 32px;
      border-bottom: 1px solid rgb(var(--color-text-white));
    }
  }

  &.btn-red {
    background-color: rgba(var(--color-error), 0.8);
  }

  &.btn-disabled {
    pointer-events: none;
    background-color: rgba(var(--color-background-dark), 0.8);
  }

  &.center {
    text-align: center;
  }

  &.auto {
    display: inline-block;
  }

  &.btn-blue {
    background-color: rgb(var(--color-highlight));

    &:hover {
      background-color: rgba(var(--color-highlight), 0.9);
    }
  }
}

.hover-bubble {
  z-index: 2;
  position: relative;

  &.router-link-active,
  &:hover {
    &:after {
      transform: scale(1);
      opacity: 1;
    }

    .material-icons {
      color: rgb(var(--color-highlight));
    }
  }

  &.router-link-active {
    &:after {
      background-color: rgba(var(--color-highlight), 0.25);
    }
  }

  .material-icons {
    @include t(0.1s);
  }

  &:after {
    content: "";
    @include t(0.1s);
    @include radius(6px);
    display: block;
    position: absolute;
    z-index: -1;
    // inset: -4px -8px;
    top: -5px;
    bottom: -5px;
    right: -8px;
    left: -8px;
    transform: scale(0.9);
    opacity: 0;
    // background-color: rgb(var(--color-border-light));
    background-color: rgba(var(--color-highlight), 0.25);
  }
}

.buttons {
  @include flex($align: center, $wrap: wrap, $gap: 8px 16px);
}
