.button {
  @include font(400);
  @include flex($gap: 5px);
  // display: block;
  position: relative;
  text-align: left;
  color: rgb(var(--color-text-white));
  font-size: 1.5rem;
  text-transform: uppercase;
  // letter-spacing: 0.05em;
  text-decoration: none !important;
  border-radius: 4px;

  &.size-normal {
    padding: 0 16px;
    height: 48px;
  }

  &.black {
    color: #191716 !important;
  }

  &.white {
    color: #fff !important;
  }

  &.w-100 {
    width: 100%;
  }

  &:hover {
    &:after {
      width: 50%;
    }

    &.btn-red {
      background-color: rgb(var(--color-error), 1);
    }

    &.btn-black {
      background-color: rgba(var(--color-background-dark), 0.9);
    }

    &.btn-white {
      background-color: rgba(var(--color-background-dark), 0.1);
    }
  }

  &.btn-icon {
    @include flex($justify: space-between);
  }

  &.btn-black {
    background-color: rgb(var(--color-background-dark));
  }

  &.btn-highlight {
    background-color: rgb(var(--color-highlight));

    &:hover {
      background-color: rgba(var(--color-highlight), 0.8);
    }
  }

  &.btn-login {
    @include flex($justify: space-between); // &:after {
    //   @include t(0.4s, cubic-bezier(0.83, 0, 0.17, 1));
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   width: 65px;
    //   right: 32px;
    //   border-bottom: 1px solid rgb(var(--color-text-white));
    // }
  }

  &.btn-red {
    background-color: rgba(var(--color-error), 0.8);
  }

  &.btn-white {
    color: rgb(var(--color-text));
  }

  &.btn-disabled {
    pointer-events: none;
    background-color: rgba(var(--color-background-dark), 0.8);
  }

  &.center {
    text-align: center;
  }

  &.auto {
    display: inline-block;
  }

  &.btn-blue {
    background-color: rgb(var(--color-info));

    &:hover {
      background-color: rgba(var(--color-info), 0.9);
    }
  }
}

.hover-bubble {
  z-index: 2;
  position: relative;

  &.black {
    color: #191716 !important;
  }

  &.white {
    color: #fff !important;
  }

  &.active,
  &.router-link-active,
  &:hover {
    &:after {
      transform: scale(1);
      opacity: 1;
    }

    .material-icons {
      color: rgb(var(--color-highlight));
    }

    &.bubble-red {
      .material-icons {
        color: rgb(var(--color-error));
      }
    }

    &.bubble-info {
      .material-icons {
        color: rgb(var(--color-info));
      }
    }

    &.bubble-black {
      .material-icons {
        color: rgb(var(--color-text));
      }
    }

    &.bubble-orange {
      .material-icons {
        color: rgb(var(--color-orange));
      }
    }
  }

  &.active,
  &.router-link-active {
    &:after {
      background-color: rgba(var(--color-highlight), 0.25);
    }
  }

  .material-icons {
    @include t(0.1s);
  }

  &.bubble-red {
    &:after {
      background-color: rgba(var(--color-error), 0.25);
    }
  }

  &.bubble-black {
    &:after {
      background-color: rgba(var(--color-text), 0.1);
    }
  }

  &.bubble-info {
    &:after {
      background-color: rgba(var(--color-info), 0.25);
    }
  }

  &.bubble-orange {
    &:after {
      background-color: rgba(var(--color-orange), 0.25);
    }
  }

  &:after {
    content: "";
    @include t(0.1s);
    @include radius(6px);
    display: block;
    position: absolute;
    z-index: -1;
    // inset: -4px -8px;
    top: -5px;
    bottom: -5px;
    right: -8px;
    left: -8px;
    transform: scale(0.9);
    opacity: 0;
    // background-color: rgb(var(--color-border-light));
    background-color: rgba(var(--color-highlight), 0.25);
  }
}

.buttons {
  @include flex($align: center, $wrap: wrap, $gap: 8px 16px);
}

button {
  &.btn-disabled {
    pointer-events: none;
    // opacity: 0.8;
  }
}
