.dropdown-list {
  @include radius(4px);
  @include t(0.15s);
  display: block;
  padding: 20px;
  box-shadow: var(--shadow);
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: rgb(var(--color-white));
  width: 164px;

  transform: scale(0.9) translateY(-4px);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform-origin: right top;

  &.active {
    z-index: 50;
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0);
  }

  a,
  button {
    @include flex($gap: 12px, $justify: flex-start);
    width: 100%;
    margin-bottom: 24px;
    color: rgb(var(--color-text));

    &:last-child {
      margin-bottom: 0;
    }
  }
}
