.filters {
  display: block;

  .filters-loading {
    display: block;
    height: 80px;
    width: 100%;
  }

  .form-filters {
    width: 100%;
    @include flex($gap: 16px, $justify: flex-end);
  }

  .form-select {
    width: 256px;
  }

  .filter-timeframe {
    @include grid(16px, 2);
  }
}
