.form-input {
  display: block;
  position: relative;
  margin-bottom: 20px;

  &.input-error {
    input {
      border-color: rgb(var(--color-error));
    }
  }

  &.required {
    label:after {
      content: "*";
      color: rgb(var(--color-error));
    }
  }

  textarea,
  input {
    @include radius(5px);
    @include font(400);
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid rgb(var(--color-border));
    color: rgb(var(--color-text));
    background-color: transparent;
  }

  ::placeholder {
    color: rgba(var(--color-text), 0.35);
  }

  textarea {
    height: unset;
    line-height: unset;
    min-height: 124px;
    padding: 24px;
    width: 100%;
    resize: vertical;
    line-height: 1.5em;
  }

  label {
    display: block;
    position: absolute;
    left: 16px;
    // bottom: calc(100% + 8px);
    top: -10px;
    font-size: 1.4rem;
    color: rgb(var(--color-text-light));
    padding: 2px 8px;
    color: rgb(var(--color-text-light));
    background-color: rgb(var(--color-background));
  }

  .input-error-list {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;

    p {
      font-size: 1.2rem;
      color: rgb(var(--color-error));
      display: block;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px rgb(var(--color-background)) inset !important;
  box-shadow: 0 0 0 56px rgb(var(--color-background)) inset !important;
}

.form-date {
  margin-bottom: 48px;

  &.single {
    .form-inputs {
      // display: block;
      grid-template-columns: 1fr;
    }
  }

  .form-inputs {
    @include grid(16px, 2);
    position: relative;
    margin-bottom: 16px;

    .form-input {
      margin-bottom: 0;

      &.required {
        label:after {
          content: "*";
          color: rgb(var(--color-error));
        }
      }
    }

    input[type="date"] {
      height: 48px;
      line-height: 48px;
      font-size: 1.4rem;
      padding: 0 16px;
      border: 1px solid rgb(var(--color-border));
    }
  }
}

.form-wrap {
  display: block;

  button[type="submit"] {
    width: 100%;
  }
}

.form-search {
  @include flex($align: center, $gap: 0);
  @include radius(5px);
  width: 100%;
  // padding: 0 24px;
  padding-right: 24px;
  padding-left: 16px;
  border: 1px solid rgb(var(--color-border));
  // background-color: rgb(var(--color-white));
  // box-shadow: var(--shadow);

  &.has-input {
    .material-icons {
      color: rgb(var(--color-highlight));
    }
  }

  .material-icons {
    color: rgb(var(--color-border));
    font-size: 2.4rem;
  }

  button {
    &:hover {
      .material-icons {
        color: rgb(var(--color-text)) !important;
      }
    }

    .material-icons {
      font-size: 1.8rem;
      opacity: 0.5;
      color: rgb(var(--color-text));
    }
  }

  input {
    height: 48px;
    width: 100%;
    line-height: 48px;
    border: none;
    flex: 1;
    font-size: 1.6rem;
    padding: 0 16px;
    background-color: transparent;
    color: rgb(var(--color-text));
  }
}

.form-checkbox {
  input[type="checkbox"] {
    display: none;

    & + label {
      // display: block;
      @include flex($gap: 16px);
      cursor: pointer;

      &:hover {
        .material-icons {
          &:before {
            opacity: 1;
            // inset: -4px;
          }
        }
      }

      p {
        font-size: 1.4rem;
        margin: 0;
      }

      .material-icons {
        color: rgb(var(--color-border));
        font-size: 2.4rem;
        position: relative;
        z-index: 5;

        &:before {
          @include t(0.15s);
          @include radius(50%);
          content: "";
          display: block;
          width: 33px;
          height: 33px;
          // inset: -2px;
          top: -2px;
          left: -4px;
          // top: 2px;
          position: absolute;
          background-color: rgba(var(--color-background-dimmed), 0.12);
          z-index: -1;
          opacity: 0;
        }
      }
    }

    &:checked + label {
      .material-icons {
        color: rgb(var(--color-text));
      }
    }
  }
}

.form-select {
  display: block;
  position: relative;
  z-index: 6;

  &.required {
    label:after {
      content: "*";
      color: rgb(var(--color-error));
    }
  }

  label {
    display: block;
    position: absolute;
    left: 16px;
    top: -10px;
    font-size: 1.4rem;
    z-index: 5;
    color: rgb(var(--color-text-light));
    padding: 2px 8px;
    background-color: rgb(var(--color-background));
  }

  &.is-open {
    z-index: 100;
    .select-dropdown {
      top: calc(100% + 8px);
      z-index: 100;
      opacity: 1;
      visibility: visible;
      transform: scale(1) translateY(0);
    }
  }

  .select-button {
    @include radius(5px);
    display: block;
    width: 100%;
    position: relative;
    text-align: left;

    z-index: 1;
    border: 1px solid rgb(var(--color-border));

    input {
      color: rgb(var(--color-text));
      display: block;
      padding: 0 20px;
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: transparent;
      font-size: 1.4rem;
      border: none;
      cursor: pointer;
    }

    .select-placeholder {
      color: rgb(var(--color-text-light));
    }

    .select-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);

      .material-icons {
        color: rgb(var(--color-text-light));
        font-size: 2.2rem;
      }
    }
  }

  .select-dropdown {
    @include radius(5px);
    @include t(0.1s);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 216px;
    overflow-y: auto;
    scrollbar-width: 4px;
    scrollbar-width: thin;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: rgb(var(--color-white));
    border: 1px solid rgb(var(--color-border));
    box-shadow: var(--shadow2);
    transform: scale(0.9) translateY(-8px);
    transform-origin: center top;

    button,
    .select-no-options {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;
      color: rgb(var(--color-text));
    }

    button {
      text-align: left;
      position: relative;
      font-size: 1.4rem;
      border-bottom: 1px solid rgb(var(--color-border));

      div {
        @include font(400);
        font-size: 1.4rem;
      }

      .material-icons {
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        color: rgb(var(--color-text-light));

        &.add-item {
          opacity: 0;
        }
      }

      &.is-selected {
        background-color: rgba(var(--color-background-dimmed), 0.3);
        color: rgb(var(--color-text));

        &:hover {
          color: rgb(var(--color-text));
          background-color: rgba(var(--color-background-dimmed), 0.35);
        }
      }

      &:hover {
        // background-color: rgba(var(--color-background-dimmed), 0.1);
        background-color: rgba(var(--color-info), 0.25);
        color: rgb(var(--color-info));

        .add-item {
          opacity: 1;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
