.form-input {
  display: block;
  position: relative;
  margin-bottom: 40px;

  &.input-error {
    input {
      border-color: rgb(var(--color-error));
    }
  }

  textarea,
  input {
    @include font(400);
    display: block;
    height: 56px;
    line-height: 56px;
    padding: 0 24px;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid rgb(var(--color-border-light));
    color: rgb(var(--color-text));
    background-color: transparent;
  }

  ::placeholder {
    color: rgba(var(--color-text), 0.35);
  }

  textarea {
    height: unset;
    line-height: unset;
    min-height: 156px;
    padding: 24px;
    width: 100%;
    resize: vertical;
    line-height: 1.5em;
  }

  label {
    display: block;
    position: absolute;
    left: 16px;
    // bottom: calc(100% + 8px);
    top: -11px;
    font-size: 1.2rem;
    color: rgb(var(--color-text-light));
    padding: 2px 8px;
    background-color: rgb(var(--color-background));
  }

  .input-error-list {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;

    p {
      font-size: 1.2rem;
      color: rgb(var(--color-error));
      display: block;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px rgb(var(--color-background)) inset !important;
}

.form-date {
  margin-bottom: 40px;

  &.single {
    .form-inputs {
      // display: block;
      grid-template-columns: 1fr;
    }
  }

  .form-inputs {
    @include grid(16px, 2);
    position: relative;
    margin-bottom: 16px;

    .form-input {
      margin-bottom: 0;
    }

    input[type="date"] {
      height: 44px;
      line-height: 44px;
      font-size: 1.4rem;
      padding: 0 16px;
      border: 1px solid rgb(var(--color-border-light));
    }
  }
}

.form-wrap {
  display: block;

  button[type="submit"] {
    width: 100%;
  }
}

.form-filters {
  @include flex();
  @include t(0.15s);

  overflow: hidden;
  height: 0;
  line-height: 0;

  &.active {
    height: 64px;
    line-height: 64px;
    padding-top: 32px;
  }
}

.form-search {
  @include flex($align: center, $gap: 0);
  width: 100%;
  padding: 0 32px;
  background-color: rgb(var(--color-white));
  box-shadow: 0 2px 8px rgba(var(--color-background-dark), 0.025);

  &.has-input {
    .material-icons {
      color: rgb(var(--color-highlight));
    }
  }

  .material-icons {
    color: rgb(var(--color-border));
    font-size: 2.4rem;
  }

  button {
    &:hover {
      .material-icons {
        color: rgb(var(--color-text)) !important;
      }
    }

    .material-icons {
      font-size: 2rem;
      color: rgb(var(--color-text));
    }
  }

  input {
    height: 64px;
    width: 100%;
    line-height: 64px;
    border: none;
    flex: 1;
    font-size: 1.6rem;
    padding: 0 16px;
    background-color: transparent;
    color: rgb(var(--color-text));
  }
}

.form-checkbox {
  input[type="checkbox"] {
    display: none;

    & + label {
      // display: block;
      @include flex($gap: 16px);
      cursor: pointer;

      p {
        font-size: 1.4rem;
        margin: 0;
      }

      .material-icons {
        color: rgb(var(--color-border));
        font-size: 2.6rem;
      }
    }

    &:checked + label {
      .material-icons {
        color: rgb(var(--color-text));
      }
    }
  }
}
