.hi-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

.hi-router-layout {
  display: flex;
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.hi-double {
  // display: grid;
  @include grid(24px, 2);
  padding: 16px;
  max-width: 1920px;
  margin: 0 auto;
}
