.hi-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  // overflow-x: hidden;
}

.hi-router-layout {
  display: flex;
  // padding: 24px;
  flex: 1;
}

.hi-home-layout {
  @include grid(64px, 2.5fr 1fr);
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

.flex-1 {
  flex: 1;
}
