.hi-header {
  @include flex($align: center, $gap: 24px);
  width: 100%;
  position: relative;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid rgb(var(--color-border-light));
  padding: 0 24px;

  .logo-wrap {
    @include font(500);
    @include flex($align: center); // text-transform: uppercase;
    font-size: 2rem;
    color: rgb(var(--color-text));

    img {
      max-height: 40px;
    }
  }

  span {
    color: rgb(var(--color-text));

    &.user {
      font-size: 1.4rem;
      // margin-right: 24px;
    }

    &.bread {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem;
      color: rgb(var(--color-text-light));
    }
  }
}
