.hi-header {
  @include flex($align: center, $gap: 28px);
  width: 100%;
  position: relative;
  height: 56px;
  z-index: 100;
  border-bottom: 1px solid rgb(var(--color-border-light));
  padding: 0 24px;
  background-color: rgb(var(--color-background));

  .logo-wrap {
    @include font(500);
    @include flex($align: center); // text-transform: uppercase;
    font-size: 2rem;
    color: rgb(var(--color-text));

    img {
      background-color: transparent;
      max-height: 40px;
    }
  }

  .nav-links-wrap {
    @include flex($gap: 8px);

    .nav-link {
      @include font(600);
      @include t(0.15s);
      font-size: 1.4rem;
      color: rgba(var(--color-text), 0.75);
      padding: 0 20px;
      height: 56px;
      line-height: 56px;
      position: relative;

      &:after {
        @include t(0.15s);
        content: "";
        display: block;
        left: 0;
        width: 100%;
        bottom: 0px;
        opacity: 0;
        position: absolute;
        border-bottom: 1px solid rgb(var(--color-info));
      }

      &.router-link-active {
        &:after {
          opacity: 1;
          border-width: 3px;
        }
      }

      &.router-link-active,
      &:hover {
        color: rgb(var(--color-info));

        // background-color: rgba(var(--color-background-dimmed), 0.1);
      }
    }
  }

  a:not(.nav-link) {
    @include flex($gap: 12px);
    height: 24px;
    line-height: 24px;
    text-decoration: none !important;

    .user-image {
      @include radius(50%);
      display: block;
      object-fit: cover;
      object-position: center;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: rgb(var(--color-highlight));
    }
  }

  span {
    color: rgb(var(--color-text));

    &.user {
      font-size: 1.4rem;
      // margin-right: 24px;
    }

    &.bread {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem;
      color: rgb(var(--color-text-light));
    }
  }
}
