.hi-header {
  @include flex($align: center, $gap: 25px);
  width: 100%;
  max-width: 1920px;
  position: relative;
  height: $header;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  border-bottom: 1px solid rgb(var(--color-border-light));
  padding: 0 16px;
  padding-right: 24px;
  background-color: rgb(var(--color-background));

  &.is-detail {
    background-color: transparent;
    // border: none;
    border-bottom-color: transparent;
  }

  &.is-phone {
    z-index: 250;
    span.bread {
      font-size: 1rem !important;
    }

    .hi-header-phone {
      display: block;
      background-color: rgb(var(--color-background));
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      bottom: 0;
      padding: 24px 32px;
      border-left: 1px solid rgb(var(--color-border-light));

      .header-phone-top {
        @include flex($justify: space-between);
        margin-bottom: 32px;

        h4 {
          margin: 0;
        }
      }

      .header-user {
        @include grid(25px, 64px 1fr);
        align-items: center;
        margin-bottom: 16px;
        height: unset !important;
        line-height: unset !important;

        .user-image {
          @include radius(50%);
          display: block;
          object-fit: cover;
          object-position: center;
          position: relative;
          width: 64px;
          height: 64px;
          background-color: rgb(var(--color-highlight));
        }

        strong {
          @include font(600);
          font-size: 2rem;
          color: rgb(var(--color-text));
          margin-bottom: 4px;
        }
      }

      hr {
        margin: 24px 0;
      }

      .nav-link {
        padding-left: 16px;
      }

      .nav-link,
      .nav-link-icon {
        @include t();
        display: block;
        margin-bottom: 16px;
        height: 32px !important;
        line-height: 32px !important;
        text-align: left;
        position: relative;
        color: rgb(var(--color-text));
        z-index: 5;
        font-size: 1.4rem;

        &:after {
          content: "";
          @include t();
          @include radius(6px);
          display: block;
          position: absolute;
          z-index: -1;
          top: -5px;
          bottom: -5px;
          right: -8px;
          left: -8px;
          opacity: 0;
          transform: scale(0.9);
          background-color: rgba(var(--color-highlight), 0.25);
        }

        &.router-link-active:after {
          opacity: 1;
          transform: scale(1);
        }

        .material-icons {
          line-height: unset;
          color: rgb(var(--color-highlight));
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .nav-link-icon {
        @include grid(16px, 32px 1fr);
        width: 100%;
      }
    }
  }

  .btn-icon {
    padding: 0;
    font-size: 1.8rem;
  }

  .logo-wrap {
    @include font(500);
    @include flex($align: center); // text-transform: uppercase;
    font-size: 2rem;
    color: rgb(var(--color-text));
    margin-right: 32px;

    img {
      background-color: transparent;
      max-height: 32px;
    }
  }

  .nav-links-wrap {
    @include flex($gap: 20px);

    .nav-link {
      @include font(500);
      font-size: 1.5rem;
      color: rgb(var(--color-text));
      padding: 0 5px;
      height: $header;
      line-height: $header;
      position: relative;
      gap: 8px;
      // text-transform: uppercase;

      &:after {
        @include t(0.15s);
        content: "";
        border-radius: 2px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        bottom: 8px;
        opacity: 0;
        position: absolute;
        height: 3px;
        background-color: rgb(var(--color-highlight));
      }

      &:hover {
        &:after {
          width: 40%;
          opacity: 0.5;
          left: 50%;
        }
      }

      &.router-link-active {
        text-shadow: 0px 0px 1px rgb(var(--color-text));

        &:after {
          width: 100%;
          opacity: 1;
          // left: 0;
        }
      }
    }
  }

  a:not(.nav-link-icon),
  a:not(.nav-link) {
    @include flex($gap: 12px);
    height: 24px;
    line-height: 24px;
    text-decoration: none !important;

    .user-image {
      @include radius(50%);
      display: block;
      object-fit: cover;
      object-position: center;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: rgb(var(--color-highlight));
    }
  }

  span {
    color: rgb(var(--color-text));

    &.user {
      font-size: 1.4rem;
      // margin-right: 24px;
    }

    &.bread {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem;
      color: rgb(var(--color-text-light));
    }
  }
}
