h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  @include font(700);
  display: block;
  margin-bottom: 20px;
}

h1 {
  @include font(900);
  font-size: 4.2rem;
}

h2 {
  @include font(900);
  font-size: 3.6rem;
}

h3 {
  @include font(900);
  font-size: 3rem;
}

h4 {
  @include font(900);
  font-size: 2.6rem;
}

h5 {
  @include font(900);
  font-size: 2rem;
}

h6 {
  @include font(900);
  font-size: 1.6rem;
}

strong,
b,
a,
span,
p {
  font-size: 1.4rem;
}

p {
  display: block;
  margin-bottom: 20px;
}

ul {
  display: block;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 8px;

  & > ul {
    margin-left: 16px;
    margin-bottom: 8px;
  }

  li {
    display: block;
    position: relative;
    padding-left: 16px;
    color: rgb(var(--color-text));
    font-size: 1.4rem;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 0;
      background-color: rgb(var(--color-background-dark));
    }
    // ::marker {
    //   content: "h";
    //   font-size: 2rem;
    // }
  }
}
