:root.dark-normal {
  .hi-album-upload .album-upload-layout .album-upload-metadata {
    border-left: 1px solid rgb(var(--color-border-light));
  }

  [data-title-left],
  [data-title-right],
  [data-title-bottom],
  [data-title-bottom-left],
  [data-title-bottom-right],
  [data-title-top],
  [data-title-top-left],
  [data-title-top-right] {
    &:before {
      color: rgb(var(--color-text));
      background-color: rgb(var(--color-background-dimmed));
      border: 1px solid rgb(var(--color-border-light));
    }
  }

  .hi-album-upload .album-upload-layout .album-upload-items,
  .hi-album-list .hi-album-list-layout .layout-item:first-of-type {
    background-color: rgba(var(--color-background-dimmed));
  }

  .form-search {
    border: 1px solid rgb(var(--color-border-light));
    background-color: rgb(var(--color-background-dark));
  }

  .hi-header {
    .logo-wrap {
      img {
        filter: invert(1);
      }
    }
  }

  .route-login {
    .route-login-split {
      .block {
        color: rgb(var(--color-text));
      }
    }
  }

  .button {
    color: rgb(var(--color-text));

    &.btn-black {
      background-color: rgb(var(--color-border-light));

      &:hover {
        background-color: rgb(var(--color-border));
      }
    }

    &.btn-login {
      &:after {
        border-bottom: 1px solid rgb(var(--color-text));
      }
    }

    &.btn-disabled {
      opacity: 0.75;
    }
  }

  .hi-toasts {
    .hi-toast-item {
      p,
      span {
        color: rgb(var(--color-text));
      }
    }
  }

  .hi-image-detail .hi-image-wrapper .hi-image-context button img {
    filter: invert(1);
  }

  .hi-album-upload .album-upload-layout .album-upload-items .album-upload-item {
    background-color: rgb(var(--color-background-dark));
  }

  .hi-album-upload .album-upload-layout .album-upload-items .album-upload-item .album-upload-content .grid-view {
    .form-input label {
      background-color: rgb(var(--color-background-dark));
    }
  }

  .form-checkbox {
    input[type="checkbox"] {
      & + label {
        .material-icons {
          &:before {
            background-color: rgb(var(--color-background-dark));
          }
        }
      }
    }
  }

  .form-select {
    .select-dropdown {
      button {
        &.is-selected {
          background-color: rgba(var(--color-border-light), 0.5);

          &:hover {
            background-color: rgba(var(--color-border), 0.5);
          }
        }

        &:hover {
          background-color: rgba(var(--color-border-light), 0.3);
        }
      }
    }
  }

  .hi-user-settings .settings-upload-image .preview-section .remove-image {
    background-color: rgb(var(--color-background-dark));
  }

  .hi-album-detail .hi-album-title .hi-album-title-thumbnail .thumbnail-image-wrap .album-tagged-users {
    background-color: rgb(var(--color-background-dark));
  }

  .hi-image-detail .hi-image-context button img {
    filter: invert(1);
  }

  img {
    &.user-image.image-error:before {
      filter: invert(1);
    }
  }

  .hi-home {
    .home-landing {
      h1 {
        filter: drop-shadow(0 1px 4px rgb(var(--color-highlight), 1));
      }
    }
  }

  .hi-home {
    .home-users .home-user {
      background-color: rgb(var(--color-background-dark));
    }

    .home-landing {
      h1 {
        -webkit-text-stroke-color: rgb(var(--color-text));
      }

      .album-thumbnail span {
        color: rgb(var(--color-text));
      }
    }
  }

  .modal {
    background-color: rgba(var(--color-background-dimmed), 0.9);

    .modal-wrap.modal-alias,
    .modal-wrap.modal-copy {
      background-color: rgb(var(--color-background));
      border: 1px solid rgb(var(--color-border-light));
    }
  }

  .dropdown-list,
  .hi-album-upload .album-drafts .draft .draft-dropdown {
    background-color: rgb(var(--color-background-dark));
    border: 1px solid rgb(var(--color-border-light));

    button {
      color: rgb(var(--color-text));
    }
  }

  .hi-album-map .album-map-layout .map-wrapper {
    .mapboxgl-popup {
      .mapboxgl-popup-content {
        background-color: rgb(var(--color-highlight));
      }

      &.mapboxgl-popup-anchor-bottom-left,
      &.mapboxgl-popup-anchor-bottom-right,
      &.mapboxgl-popup-anchor-bottom {
        .mapboxgl-popup-tip {
          border-top-color: rgb(var(--color-highlight));
        }
      }

      &.mapboxgl-popup-anchor-top-right,
      &.mapboxgl-popup-anchor-top-left,
      &.mapboxgl-popup-anchor-top {
        .mapboxgl-popup-tip {
          border-bottom-color: rgb(var(--color-highlight));
        }
      }

      &.mapboxgl-popup-anchor-left {
        .mapboxgl-popup-tip {
          border-right-color: rgb(var(--color-highlight));
        }
      }

      &.mapboxgl-popup-anchor-right {
        .mapboxgl-popup-tip {
          border-left-color: rgb(var(--color-highlight));
        }
      }
    }
  }

  hr {
    border-color: rgb(var(--color-border-light));
  }

  p {
    a {
      color: rgb(var(--color-info));
    }
  }

  .album-list-item .album-meta p {
    color: rgba(var(--color-text), 0.75);
  }

  .modal .modal-wrap.modal-alias .modal-content .alias-list .alias-item.alias-text .alias-text-content {
    background-color: rgba(var(--color-background-dark), 0.5);
  }

  .alias-picker {
    background-color: rgb(var(--color-background-dimmed));

    .alias-list .alias-item {
      background-color: rgb(var(--color-background-dark));

      &:hover {
        background-color: rgba(Var(--color-highlight), 0.2);
      }
    }
  }

  .hi-user-profile {
    .user-profile-upper {
      background-color: rgb(var(--color-border-light));

      .user-information-wrap .avatar-wrap .avatar.image-error {
        background-color: rgb(34, 32, 31) !important;

        &:before {
          filter: invert(1);
        }
      }
    }

    .user-expand .user-met-with-wrap .user-met-with.user-details {
      background-color: rgb(var(--color-border-light));
    }
  }

  .activity {
    &.activity-home {
      background-color: rgb(var(--color-background-dark));

      .activity-group-title {
        background-color: rgb(var(--color-background-dark));
      }
    }

    .activity-list-wrap {
      .activity-item {
        &.activity-album .activity-body,
        &.activity-user .user {
          background-color: rgb(var(--color-border-light));
        }
      }
    }
  }
}
